<header-page titleIcon="monitoring" [iconOutlined]="true" [ui-title]="name">
    <form [formGroup]="serverFilterForm" class="header-filter md-2">
        <mat-form-field appearance="outline" class="no-subscript">
            <mat-label>Période</mat-label>
            <mat-date-range-input [formGroup]="serverFilterForm.controls.dateRangePicker" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="search()">
            <mat-icon matSuffix>search</mat-icon>
        </button>

    </form>
</header-page>

<div style="display: flex; justify-content: space-between; gap: 1em; margin-bottom: 1em;">
    <chart class="mat-elevation-z5" style="width: 33%;" type="area"
        [config]="constants.REPARTITION_REQUEST_BY_PERIOD_LINE" [data]="requests.repartitionRequestByPeriodLine?.data || []"
        [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" />
    <chart class="mat-elevation-z5" style="width: 33%;" type="area"
        [config]="constants.REPARTITION_REQUEST_ERROR_BY_PERIOD_LINE"
        [data]="requests.repartitionRequestByPeriodLine?.data || []"
        [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" />
    <chart class="mat-elevation-z5" style="width: 33%;" type="area"
        [config]="constants.REPARTITION_REQUEST_SLOWEST_BY_PERIOD_LINE"
        [data]="requests.repartitionRequestByPeriodLine?.data || []"
        [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" />
</div>

<div class="mat-elevation-z5" style="display: flex; justify-content: space-between; margin-bottom: 1em;">
    <chart style="width: 30%;" type="pie" [config]="constants.REPARTITION_TYPE_RESPONSE_PIE"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data?.pie || []"
        [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
    <mat-divider style="margin-top: 5em; margin-bottom: 5em;" [vertical]="true"></mat-divider>
    <chart style="width: 70%;" type="column" [config]="constants.REPARTITION_TYPE_RESPONSE_BAR"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data?.bar || []"
        [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
</div>
<div class="mat-elevation-z5" style="display: flex; justify-content: space-between; margin-bottom: 1em;">
    <chart style="width: 70%;" type="column" [config]="constants.REPARTITION_SPEED_BAR"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data?.bar || []"
        [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
    <mat-divider style="margin-top: 5em; margin-bottom: 5em;" [vertical]="true"></mat-divider>
    <chart style="width: 30%;" type="pie" [config]="constants.REPARTITION_SPEED_PIE"
        [data]="requests.repartitionTimeAndTypeResponse?.data?.pie || []"
        [isLoading]="requests.repartitionTimeAndTypeResponse?.isLoading" />
</div>
<div style="display: flex; margin-bottom: 1em;">
    <chart class="mat-elevation-z5" style="width: 100%;" type="bar" [config]="constants.REPARTITION_API_BAR"
        [data]="requests.repartitionApiBar?.data || []" [isLoading]="requests.repartitionApiBar?.isLoading" />
</div>
<div class="mat-elevation-z5" style="margin-bottom: 1em;">

    <chart type="line" [config]="constants.REPARTITION_MAX_BY_PERIOD_LINE"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data?.bar || []"
        [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
    <chart type="line" [config]="constants.REPARTITION_AVG_BY_PERIOD_LINE"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data?.bar || []"
        [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
</div>