<div class="container" *ngIf="_exception?.type || _exception?.message">
  <div class="content">
    <mat-icon class="material-symbols-outlined">error</mat-icon>

    <div class="exception">
      <div class="type" *ngIf="_exception.type">
        {{ _exception.type }}
      </div>
      <div class="message ellipsis" *ngIf="_exception.message">
        {{ _exception.message }}
      </div>
    </div>

    <div class="actions" *ngIf="_stacktrace">
      <button mat-icon-button (click)="showStacktrace()" matTooltip="Voir la stacktrace">
        <mat-icon>visibility</mat-icon>
      </button>
    </div>
  </div>
</div>