.container {
  margin-top: 0.5em;
  border-radius: 8px;
  padding: 1em;

  .content {
    display: flex;
    align-items: center;
    gap: 0.75em;

    &.warning {
      color: #ff9800;
    }

    &.fail {
      color: #f44336;
    }

    &.success {
      color: #4caf50;
    }

    mat-icon {
      width: 24px;
      height: 24px;
      font-size: 24px;
      flex-shrink: 0;
    }

    .exception {
      flex: 1;
      overflow: hidden;
      .type {
        font-weight: 600;
        font-size: 13px;
        margin-bottom: 0.25em;
      }

      .message {
        font-size: 12px;
        line-height: 1.5;
      }
    }
  }
}