<header-page titleIcon="dashboard" [ui-title]="db || 'Veuillez selectionner une base de données'">
  <!-- TODO  change icon to dbtype and  add driver version, db type version -->
  <form [formGroup]="serverFilterForm" class="header-filter md-2">
    <mat-form-field appearance="outline" class="no-subscript">
      <mat-label>Période</mat-label>
      <mat-date-range-input [formGroup]="serverFilterForm.controls.dateRangePicker" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>

      <mat-error
        *ngIf="serverFilterForm.controls.dateRangePicker.controls.start.hasError('matStartDateInvalid')">Invalid
        start date</mat-error>
      <mat-error *ngIf="serverFilterForm.controls.dateRangePicker.controls.end.hasError('matEndDateInvalid')">Invalid
        end date</mat-error>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </form>
</header-page>

<div style="display: flex; justify-content: space-between; gap: 1em; margin-bottom: 1em;">
  <chart type="area" [config]="constants.REPARTITION_REQUEST_BY_PERIOD_LINE" [data]="requests?.repartitionRequestByPeriodLine?.data || []"
    [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" style="width:33%" class="mat-elevation-z5" />
  <chart type="area" [config]="constants.REPARTITION_REQUEST_ERROR_BY_PERIOD_LINE" [data]="requests?.repartitionRequestByPeriodLine?.data || []"
    [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" style="width:33%" class="mat-elevation-z5" />
  <chart type="area" [config]="constants.REPARTITION_REQUEST_SLOWEST_BY_PERIOD_LINE" [data]="requests?.repartitionRequestByPeriodLine?.data || []"
    [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" style="width:33%" class="mat-elevation-z5" />
</div>

<div style="display: flex; justify-content: space-between; gap: 1em; margin-bottom: 1em;" class="mat-elevation-z5">
  <chart style="width: 70%;" type="column" [config]="constants.REPARTITION_SPEED_BAR"
    [data]="requests.repartitionTimeByPeriodBar?.data || []" [isLoading]="requests.repartitionTimeByPeriodBar?.isLoading" />
  <mat-divider style="margin-top: 5em; margin-bottom: 5em;" [vertical]="true"></mat-divider>
  <chart style="width: 30%;" type="pie" [config]="constants.REPARTITION_SPEED_PIE"
    [data]="requests.repartitionTimePie?.data || []" [isLoading]="requests.repartitionTimePie?.isLoading" />
</div>

<div style="display: flex; justify-content: space-between; gap: 1em; margin-bottom: 1em;" class="mat-elevation-z5">
  <div style="width:100%">
    <!-- <div line-chart [config]="countOKLineChartConfig"   [data]="countMinMaxAvg"   ></div> -->
    <chart type="line" [config]="constants.REPARTITION_MAX_BY_PERIOD_LINE" [data]="requests.repartitionTimeByPeriodBar?.data || []"
      [isLoading]="requests.repartitionTimeByPeriodBar?.isLoading" />
    <chart type="line" [config]="constants.REPARTITION_AVG_BY_PERIOD_LINE" [data]="requests.repartitionTimeByPeriodBar?.data || []"
      [isLoading]="requests.repartitionTimeByPeriodBar?.isLoading" />
  </div>
</div>

<!-- <div style="display: flex; justify-content: space-between; gap: 1em; margin-bottom: 1em;" class="mat-elevation-z5">
  <chart style="width:100%" type="column" [config]="usersInfoChartConfig" [data]="requests.usersInfo?.data"
    [isLoading]="requests.usersInfo?.isLoading" />
</div> -->
<div style="margin-bottom: 1em;">
  <exception-table [data]="requests.exceptions?.data || []" [isLoading]="requests.exceptions?.isLoading"></exception-table>
</div>

<!-- <div style="display: flex; justify-content: space-between; gap: 1em; margin-bottom: 1em;">
  <div style="width:100%;" class="mat-elevation-z5">
    <h5 class="title">Top exceptions</h5>
    <mat-list>
      <mat-list-item *ngFor="let x of requests.exceptions.data">
        <span matListItemLine [matBadge]="x['COUNT']">{{x.errorMessage}} <mat-icon class="material-symbols-outlined"
            [matTooltip]="x.errorType">error</mat-icon></span>
      </mat-list-item>
    </mat-list>
    <div *ngIf="requests.exceptions.isLoading " class="noDataMessage " style="height: calc(44vh - 50px - 1em);">
      <h2>
        Loading
      </h2>
    </div>
    <div *ngIf="requests.exceptions.data?.length == 0 && !requests.exceptions.isLoading" class="noDataMessage "
      style="height: calc(44vh - 50px - 1em);">
      <h2>
        Aucune exception trouvée <mat-icon matSuffix>mood</mat-icon>
      </h2>
    </div>
  </div>

</div> -->

<!-- <div style="display: flex; justify-content: space-between; gap: 1em; margin-bottom: 1em;">

  <div style="width:100%" class="mat-elevation-z5">
    <h5 class="title">Informations:</h5>
    <mat-list *ngIf="requests.dbInfo.data?.length!=0">
      <mat-list-item>
        <span matListItemTitle>{{requests.dbInfo.data[0]?.schema}}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{requests.dbInfo.data[0]?.driver}}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{requests.dbInfo.data[0]?.dbName}}</span>
      </mat-list-item>
      <mat-list-item>
        <span matListItemTitle>{{requests.dbInfo.data[0]?.dbVersion}}</span>
      </mat-list-item>
    </mat-list>
    <div *ngIf="requests.dbInfo.isLoading " class="noDataMessage " style="height: calc(44vh - 50px - 1em);">
      <h2>
        Loading
      </h2>
    </div>
    <div *ngIf="requests.dbInfo.data?.length==0 && !requests.dbInfo.isLoading" class="noDataMessage "
      style="height: calc(44vh - 50px - 1em);">
      <h2>
        Aucune donnée
      </h2>
    </div>

  </div>


</div> -->