<div class="table-container">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" #sort="matSort" matSort
           matSortActive="start" matSortDirection="asc">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%">
          <div class="header-cell-content">
            <mat-icon class="material-symbols-outlined">label</mat-icon>
            Nom
          </div>
        </th>
        <td mat-cell *matCellDef="let element"
            [ngClass]="{'success': element.end && !element.exception,
                        'fail': element.end && element.exception}"
            [matTooltip]="element.exception ? (element.exception?.type | exceptionType) + ' ' + element.exception?.message : null">
          <span style="font-weight: bold;">{{element.command | typeColumnFormat}}</span>
          <div class="cell-primary">
            {{ element['name'] || 'N/A' }}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="args">
        <th mat-header-cell *matHeaderCellDef>
          <div class="header-cell-content">
            <mat-icon class="material-symbols-outlined">list_alt</mat-icon>
            Arguments
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <span [matTooltip]="element['args']">{{ element['args'] }}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%">
          <div class="header-cell-content">
            <mat-icon class="material-symbols-outlined">schedule</mat-icon>
            Début
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ (element.start*1000 | date:'dd/MM/yyyy')}}
          <br>
          {{ (element.start*1000 | date:'HH:mm:ss.SSS')}}
        </td>
      </ng-container>

      <ng-container matColumnDef="duree">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15%">
          <div class="header-cell-content">
            <mat-icon class="material-symbols-outlined">timer</mat-icon>
            Durée
          </div>
        </th>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="!element.end" style="display: flex; align-items: center; gap: 6px;">
            <mat-spinner [diameter]="14"></mat-spinner>
            <span class="cell-secondary">En cours...</span>
          </div>
          <div *ngIf="element.end" class="cell-primary" [matTooltip]="element.end * 1000 | date:'dd/MM/yyyy, HH:mm:ss.SSS':'fr'">
            {{ { start: element.start, end: element.end } | duration }}
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row;columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator #paginator [pageSize]="4" [hidePageSize]="true"
                 showFirstLastButtons></mat-paginator>
</div>