:host {
  flex-grow: 1;
}

table{
  width: 100%;
  table-layout: fixed;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(206, 206, 206);
}