.header-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.searchwidth {
    flex-grow: 1;
}

table {
    table-layout: fixed;
}

.example-table-container {
    max-height: calc(100vh - 96px - 56px - 48px - 28px);
    overflow: auto;
}

.status:hover ~ th.status {
    width: auto;
}
