:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.flex-table {
  flex: 1 1 0;
  min-height: 0;
}

.filter-container {
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.additional-selection {
  opacity: 0.75;
  font-size: 0.75em;
}