.header-filter {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.searchwidth {
    flex-grow: 1;
}

table {
    table-layout: fixed;
}

.example-table-container {
    max-height: calc(100vh - 96px - 56px - 48px - 28px);
    overflow: auto;
}

.status:hover ~ th.status {
    width: auto;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(206, 206, 206);
}
