.mat-mdc-cell {
  &.success {
    border-left: 3px solid #4caf50;
    background: linear-gradient(90deg, rgba(76, 175, 80, 0.08) 0%, transparent 100%);
  }

  &.fail {
    border-left: 3px solid #f44336;
    background: linear-gradient(90deg, rgba(244, 67, 54, 0.08) 0%, transparent 100%);
  }
}
.clickable-row {
  cursor: pointer;
}
.disabled-row {
  cursor: default;
}

.clickable-row:hover {
  background-color: rgba(0, 0, 0, 0.04); /* style Material */
}