<div class="header-container">
  <div class="title-container">
    <mat-icon class="material-symbols-outlined title-icon">{{ REQUEST_TYPE[params.type].icon }}</mat-icon>
    <div class="title-content">
      <h1 class="title-label">{{ REQUEST_TYPE[params.type].title }}</h1>
      <div class="subtitle-label">{{ REQUEST_TYPE[params.type].subtitle }}</div>
    </div>
  </div>
  <div class="filter-container md-3">
    <mat-form-field style="width: 315px" class="no-subscript" appearance="outline" >
      <mat-label>Période</mat-label>
      <mat-date-range-input [formGroup]="requestFilterForm.controls.dateRangePicker" [rangePicker]="picker">
        <input matStartDate  formControlName="start" placeholder="Start date" (dateChange)="onChangeStart($event)">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="onChangeEnd($event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field  class="no-subscript" [class.loading]="serverNameIsLoading" appearance="outline">
      <mat-label>Host</mat-label>
      <mat-select [formControl]="requestFilterForm.controls.host" multiple (selectionChange)="onChangeHost($event)">
        <span *ngIf="serverNameIsLoading && queryParams.appname && queryParams.appname[0]!=''"><mat-option *ngFor="let s of queryParams.appname">{{s}}</mat-option></span>
        <mat-option *ngFor="let d of nameDataList" [value]="d" >{{d}}</mat-option>
      </mat-select>
      <mat-spinner *ngIf="serverNameIsLoading" [diameter]="18"></mat-spinner>
    </mat-form-field>

    <mat-form-field style="width: 200px" class="no-subscript" appearance="outline">
      <mat-label>Status</mat-label>
      <mat-select [formControl]="requestFilterForm.controls.rangestatus" multiple (selectionChange)="onChangeStatus($event)">
        <mat-select-trigger>
          <div style="display: flex; gap: 0.5em; align-items: center">
            <mat-icon [style.color]="requestFilterForm.controls.rangestatus.value?.[0]?.color" >
              {{requestFilterForm.controls.rangestatus.value?.[0]?.icon}}
            </mat-icon>
            {{requestFilterForm.controls.rangestatus.value?.[0]?.label || ''}}
            <span *ngIf="(requestFilterForm.controls.rangestatus.value?.length || 0) > 1" class="additional-selection">
            (+{{(requestFilterForm.controls.rangestatus.value?.length || 0) - 1}} {{requestFilterForm.controls.rangestatus.value.length === 2 ? 'autre' : 'autres'}})
            </span>
          </div>
        </mat-select-trigger>
        <mat-option *ngFor="let s of seviceType[params.type].filters" [value]="s">
          <div style="display: flex; align-content: center">
            <mat-icon [style.color]="s.color">
              {{s.icon}}
            </mat-icon>
            {{s.label}}
          </div>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-mini-fab color="primary"  (click)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </div>
</div>

<div *ngIf="params.type=='rest'">
    <rest-table
                [useFilter]="true"
                [requests]="requests"
                [isLoading]="isLoading"
                [pageSize]="10"
                (onClickRemote)="selectedRemote($event)"
                (onClickRow)="selectedRest($event)"
    ></rest-table>
</div>

<div  *ngIf="params.type=='ftp'">
    <ftp-table [useFilter]="true"
               [requests]="requests"
               [isLoading]="isLoading"
               [pageSize]="10"
               (onClickRow)="selectedFtp($event)"></ftp-table>
</div>

<div  *ngIf="params.type=='smtp'">
    <smtp-table [useFilter]="true"
                [requests]="requests"
                [isLoading]="isLoading"
                [pageSize]="10"
                (onClickRow)="selectedSmtp($event)" >
    </smtp-table>
</div>

<div  *ngIf="params.type=='ldap'">
    <ldap-table [useFilter]="true"
                [requests]="requests"
                [isLoading]="isLoading"
                [pageSize]="10"
                (onClickRow)="selectedLdap($event)">
    </ldap-table>
</div>

<div  *ngIf="params.type=='jdbc'">
    <database-table [useFilter]="true"
                    [requests]="requests"
                    [isLoading]="isLoading"
                    [pageSize]="10"
                    (onClickRow)="selectedQuery($event)" >
    </database-table>
</div>