:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.flex-table {
  flex: 1 1 0;
  min-height: 0;
}

.mat-mdc-row .mat-mdc-cell {
  cursor: pointer
}

.mat-mdc-row:hover .mat-mdc-cell {
  background-color: rgb(206, 206, 206);
}