<header-page [templateTitle]="title" [iconOutlined]="true" titleIcon="browse_activity" [templateSubTitle]="subtitle">
  <ng-template #title>
    <div style="display: flex; align-items: baseline; gap: 0.5em">
      {{ instance?.name }}
      <div class="status-indicator"
           [class.online]="!instance?.end && !isInactiveInstance"
           [class.offline]="instance?.end"
           [class.warning]="!instance?.end && isInactiveInstance"
           [matTooltip]="instance?.end ? 'Du ' + ((instance?.instant * 1000) | date: 'dd/MM/yyyy à HH:mm:ss.SSS': 'fr') + ' au ' + ((instance?.end * 1000) | date: 'dd/MM/yyyy à HH:mm:ss.SSS': 'fr') : 'Depuis le ' + ((instance?.instant * 1000) | date: 'dd/MM/yyyy à HH:mm:ss.SSS': 'fr')">
      </div>
    </div>

  </ng-template>
  <ng-template #subtitle>
    <div style="display: flex; gap: 0.5em">
      <label-chip [ngStyle]="{'cursor': instance?.configuration ? 'pointer' : ''}" [matTooltip]="instance?.collector"
                  (click)="instance?.configuration ? openConfig() : ''">{{ instance?.version }}
      </label-chip>
      <label-chip color="orange" *ngIf="instance?.branch" [matTooltip]="instance?.hash">{{ instance?.branch }}
      </label-chip>
    </div>
  </ng-template>
  <div style="display: flex; align-items: center; justify-content: space-between; margin-left: auto; gap: 0.5em">
    <mat-form-field style="width: 315px" class="no-subscript md-3" appearance="outline">
      <mat-label>Période</mat-label>
      <mat-date-range-input [formGroup]="formGroup.controls.range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="onChangeStart($event)">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="onChangeEnd($event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <mat-form-field style="width: 260px" class="no-subscript md-3" [class.loading]="isLoadingInstances"
                    appearance="outline">
      <mat-label>Serveur</mat-label>
      <mat-select [formControl]="formGroup.controls.server">
        <mat-select-trigger>
          {{ formGroup.controls.server?.value?.appName || '' }}
        </mat-select-trigger>
        <mat-option *ngFor="let instance of instances" [value]="instance">
          <div style="display: flex; flex-direction: column;">
            {{ instance.appName }}
            <span style="display: flex; align-items: center; font-size: 8px; font-style: italic">
                <mat-icon style="font-size: 12px; width: 12px; height: 12px; margin-right: 8px;"
                          class="material-symbols-outlined">date_range</mat-icon>
              {{ instance.end ? 'Du ' + (instance.start | date: 'dd/MM/yyyy HH:mm': 'fr') + ' au ' + (instance.end | date: 'dd/MM/yyyy HH:mm': 'fr') : 'Depuis le ' + (instance.start | date: 'dd/MM/yyyy HH:mm': 'fr') }}
              </span>
          </div>
        </mat-option>
      </mat-select>
      <mat-spinner *ngIf="isLoadingInstances" [diameter]="18"></mat-spinner>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </div>

</header-page>
<div style="display: flex;">
  <div style="width: 50%" class="card-container mat-elevation-z5">
    <div class="title-container">
      <span class="title">
        Mémoire
        <div class="sub" style="display: flex; align-items: center; gap: 0.5em;">
          Mo
        </div>
      </span>
    </div>
    <chart type="line" [config]="USAGE_RESOURCE_BY_PERIOD_LINE"
           [data]="usageResourceByPeriod" [isLoading]="isLoading"></chart>
  </div>
  <div style="width: 50%" class="card-container mat-elevation-z5">
    <div class="title-container">
      <span class="title">
        Disque
        <div class="sub" style="display: flex; align-items: center; gap: 0.5em;">
          Mo
        </div>
      </span>
    </div>
    <chart type="line" [config]="USAGE_DISK_BY_PERIOD_LINE"
           [data]="usageResourceByPeriod" [isLoading]="isLoading"></chart>
  </div>

</div>
<div style="display: flex;">
  <div style="width: 100%" class="card-container mat-elevation-z5">
    <div class="title-container">
      <div class="title">
        Activité
        <div class="sub" style="display: flex; align-items: center; gap: 0.5em;"
             *ngIf="instance?.configuration?.scheduling?.interval">
          Toute(s) les {{ instance?.configuration?.scheduling?.interval | number }}s
        </div>
      </div>
    </div>
    <div class="activity-container">
      <div class="stats-sidebar">
        <div class="stats-card trace" (click)="activityDisplayType = 'TRACE'">
          <div class="stats-icon">
            <mat-icon class="material-symbols-outlined">equalizer</mat-icon>
          </div>
          <div class="stats-info">
            <div class="stats-value">{{ traceStat | number }}</div>
            <div class="stats-label">Nombre de Traces</div>
          </div>
        </div>
        <div class="stats-card unavailable" (click)="activityDisplayType = 'ATTEMPT'">
          <div class="stats-icon">
            <mat-icon class="material-symbols-outlined">hourglass_pause</mat-icon>
          </div>
          <div class="stats-info">
            <div class="stats-value">{{ unavailableStat | number: '1.0-2' }}s</div>
            <div class="stats-label">Indisponibilité</div>
          </div>
        </div>
        <div class="stats-card report"
             [ngStyle]="{'cursor': logEntryByPeriod.length ? 'pointer': '', 'pointer-events': logEntryByPeriod.length ? '': 'none'}"
             (click)="activityDisplayType = 'REPORT'">
          <div class="stats-icon">
            <mat-icon class="material-symbols-outlined">exclamation</mat-icon>
          </div>
          <div class="stats-info">
            <div class="stats-value">{{ logEntryByPeriod.length }}</div>
            <div class="stats-label">Report</div>
          </div>
        </div>
      </div>
      <div class="activity-content" [ngSwitch]="activityDisplayType">
        <chart *ngSwitchDefault type="line" [config]="USAGE_INSTANCE_TRACE_BY_PERIOD_LINE"
               [data]="instanceTraceByPeriod" [isLoading]="isLoading"></chart>
        <chart *ngSwitchCase="'ATTEMPT'" type="line" [config]="ATTEMPT_INSTANCE_TRACE_BY_PERIOD_LINE"
               [data]="instanceTraceByPeriod" [isLoading]="isLoading"></chart>
        <div *ngSwitchCase="'REPORT'" style="height: 252px; ">
          <div style="display: flex; flex-direction: column; justify-content: space-between; height: 100%">
            <table mat-table [dataSource]="dataSource" #sort="matSort"
                   matSort matSortActive="date" matSortDirection="desc">

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                <td mat-cell *matCellDef="let row">
                  {{ row.date }}
                </td>
              </ng-container>

              <ng-container matColumnDef="level">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                <td mat-cell *matCellDef="let row">
                  <span> {{ row.level }}  </span>
                </td>
              </ng-container>

              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Message</th>
                <td mat-cell *matCellDef="let row">
                  <span> {{ row.message }}  </span>
                </td>
              </ng-container>
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row">
                  <button mat-icon-button color="primary" [disabled]="!row.stacktrace" (click)="open(row)"
                          matTooltip="Consulter la Stack">
                    <mat-icon class="material-symbols-outlined">frame_inspect</mat-icon>
                  </button>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <div [hidden]="dataSource?.data?.length < 4">
              <mat-paginator [pageSize]="3" [hidePageSize]="true" showFirstLastButtons></mat-paginator>
            </div>
          </div>
          <div [hidden]="dataSource?.data?.length" style="height: 100%">
            <div class="loading">
              {{ isLoading ? 'Chargement des données...' : 'Aucune donnée' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>