<div *ngIf="!isLoading" class="header-card">
    <mat-card style="width: 60vw; min-width: 60vw;" *ngIf="selectedQuery"
        [ngStyle]="getSessionDetailBorder()">
        <mat-card-title>
            <p style="display: flex; align-items: center; gap: 0.5em">
                <mat-icon>settings_suggest</mat-icon>
             {{ selectedQuery?.name || 'N/A' }}
            </p>

            <div class="right">
                <button mat-icon-button (click)="navigate($event,'parent')" matTooltip="Détail de l'appel parent">
                    <mat-icon>move_up</mat-icon>
                </button>
            </div>
        </mat-card-title>

        <mat-card-content>
            <div>
                <div class="ellipsis"
                    style="display: flex; gap: 0.5em; color: red; font-weight: 500; margin-top: 0.5em;"
                    *ngIf="!selectedQuery?.completed"
                    [matTooltip]="selectedQuery?.exception?.classname" TooltipPosition="below">
                    <mat-icon class="material-symbols-outlined">warning</mat-icon>{{getException(selectedQuery?.actions)?.exception?.message}} 
                </div>
            </div>

        </mat-card-content>
        <mat-card-footer>
            <mat-icon style="width: 20px; height: 20px; font-size: 20px;">person</mat-icon>
            <div style="display: flex; align-items: center; gap: 0.5em">
                {{selectedQuery?.user || "N/A"}}  le {{( selectedQuery?.start*1000 ) | date: 'dd/MM/yyyy à HH:mm:ss.SSS': 'fr' }}
            </div>
            <div class="right">
                en {{ getElapsedTime(selectedQuery?.end, selectedQuery?.start) | number :'1.2-3'}}s 
            </div>
            <span class="badge" [style.background-color]="getStateColorBool()">{{getSessionStatusTooltip(selectedQuery)}}</span> 
        </mat-card-footer>
    </mat-card>
    <mat-card style="width: 40vw;" *ngIf="selectedQuery">
        <mat-card-title>
            <a style="display: flex; align-items: center; gap: 0.5em">
                <mat-icon class="material-symbols-outlined">Database</mat-icon>
                {{selectedQuery?.name}}
            </a>
            <div style="height: 48px">

            </div>
        </mat-card-title>
        <mat-card-content>
        </mat-card-content>
        <mat-card-footer>
            <div style="font-style: italic; font-size: 14px;">
                {{selectedQuery?.host}} {{ ':'+ selectedQuery?.port || '' }}
            </div>
            <span style="margin-left: auto;">
                {{selectedQuery?.productName}}
            </span>
            <span style="margin-left: auto;">
                {{selectedQuery?.productVersion}}
            </span>
        </mat-card-footer>
    </mat-card>
</div>


<div [hidden]="isLoading">
    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; align-content: center;">
        <mat-divider style="margin-right: 1em; flex: 1 1 0%"></mat-divider>
        <div
            style="display: flex; align-items: center; gap: 0.5em; margin-bottom:  0.5em; font-size: 20px; font-weight: 500;">
            <mat-icon class="material-symbols-outlined">view_timeline</mat-icon>
            Chronologie
        </div>
        <mat-divider style="margin-left: 1em; flex: 1 1 0%"></mat-divider>
    </div>
</div>
<div #timeline id="timeline"></div>



<div *ngIf="!isLoading && !isComplete" class="noDataMessage mat-elevation-z5" style="height: calc(100vh - 50px - 1em);">
    <h2>
        Aucun détail disponible .. <br>
        <span *ngIf="selectedQuery">Vérifiez que TraceAPI est bien configuré sur <b>{{
                selectedQuery?.host}}</b></span>
    </h2>
</div>
<div *ngIf="isLoading" style="width: 100%; height: calc(100vh - 50px - 1em); display: flex; flex-direction: row; align-items: center; justify-content: center; font-style: italic; gap: 0.5em">
    <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner> Chargement en cours...
</div>