<header-page titleIcon="repeat" ui-title="Liste des sessions">
  <form [formGroup]="serverFilterForm" class="header-filter md-2">
    <advanced-filter-recap [filters]="advancedParams" (filterRemoved)="handleRemovedFilter($event)" (focusField)="focusField($event)"></advanced-filter-recap> 
    <mat-form-field class="no-subscript" appearance="outline">
      <mat-label>Période</mat-label>
      <mat-date-range-input [formGroup]="serverFilterForm.controls.dateRangePicker" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button mat-mini-fab color="primary" (click)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </button>    
    <advanced-filter-trigger [pageName]="'session-main'" [filterConfig]="filterConstants.SESSION_MAIN" [focusField]="focusFieldName" (handleDialogclose)="handledialogclose($event)" (handlePresetSelection)="handlePresetSelection($event)" (handlePresetSelectionReset)="handlePresetSelectionReset()" (handleFilterReset)="handleFilterReset()"></advanced-filter-trigger>
  </form>
</header-page>
<mat-form-field appearance="outline" class="fullwidth md-2 no-subscript" style="margin-bottom: 0.2em;">
  <input matInput #input (keyup)="applyFilter($event)" placeholder="Filtrer..." autocomplete="off">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<div class="mat-elevation-z8">
  <div class="example-table-container">
    <table mat-table [dataSource]="dataSource" class="fullwidth" matSort matSortActive="start" matSortDirection="desc">

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:1%">
        </th>
        <td [ngStyle]="statusBorder(!!(!row?.exception?.message && !row?.exception?.message))" mat-cell *matCellDef="let row"
          [matTooltip]="!!(!row?.exception?.message && !row?.exception?.message)?'réussi':'échoué'" matTooltipPosition="before">
        </td>
      </ng-container>

      <ng-container matColumnDef="app_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Serveur </th>
        <td mat-cell *matCellDef="let row">
          {{row.appName || ''}}
        </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:10%"> Nom </th>
        <td mat-cell *matCellDef="let row">
          <div class="table-column-content">
            {{row.name || 'N/A'}}
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Chemin </th>
        <td mat-cell *matCellDef="let row" class="ellipsis">
          <div class="table-column-content ">
            {{row.location ||'N/A'}}
          </div>
        </td>
      </ng-container>



      <ng-container matColumnDef="start">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:12%">Début </th>
        <td mat-cell *matCellDef="let row">
          <div class="table-column-content">
            {{ (row.start*1000 |date:'dd/MM/yyyy')}}
          </div>
          <br>
          <div class="table-column-content">
            {{ (row.start*1000 |date:'HH:mm:ss.SSS')}}
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="durée">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:12%">Durée</th>
        <td mat-cell *matCellDef="let row">
          <div class="table-column-content"
            [matTooltip]="(row.start*1000| date:'dd/MM/yyyy, HH:mm:ss.SSS':'fr') +' \n '+ (row.end*1000 | date:'dd/MM/yyyy, HH:mm:ss.SSS':'fr')"
            matTooltipClass="mat-tooltip">
            {{ getElapsedTime(row.end,row.start) | duration}} <br>
          </div>
        </td>
      </ng-container>


      <ng-container matColumnDef="user">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width:8%"> Utilisateur </th>
        <td mat-cell *matCellDef="let row"> {{row.user || 'N/A'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedRequest($event,row.id)"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="7">
          <div *ngIf="!isLoading"  class="empty-row" style="align-items: center;">
            <span class="material-symbols-outlined" >
              info
            </span>
            <span style="font-style: italic;">Aucun résultat</span>
          </div>
          <div *ngIf="isLoading" class="loading-row">
              <span style="display: flex; flex-direction: column; font-style: italic;">
                Chargement en cours...
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
              </span>
          </div>
        </td>
      </tr>
    </table>

  </div>
  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>