<div style="display: flex;flex-direction: column;gap: 20px;">

    <div class="mat-elevation-z5"  style="display: flex; align-items: stretch; gap: 10px;">
        <dynamic-chart style="width: 100%; display: flex; flex-direction: column;"
                                   [menuConfig]="REPARTITION_STATUS"
                                   [data]="$statusRepartition.data"
                                   [sliceData]="$statusRepartitionSlice.data"
                                   [isLoading]="$statusRepartition.loading"
                                   (chartEmitter)="statusRepartitionChange($event)">
                <!--<div class="stat" style="color: #33cc33;">
                    <div class="label" [matTooltip]="($statusRepartition.stats.statCountOk | number : '1.0-0') + ' / ' + ($statusRepartition.stats.statCount | number : '1.0-0')">{{ ($statusRepartition.stats.statCountOk / $statusRepartition.stats.statCount) * 100 | number : '1.0-2'  }}%</div>
                    <div class="sub-label">2xx</div>
                </div>
                <div class="stat" style="color: #ffa31a">
                    <div class="label" [matTooltip]="($statusRepartition.stats.statCountErrClient | number : '1.0-0') + ' / ' + ($statusRepartition.stats.statCount | number : '1.0-0')">{{ ($statusRepartition.stats.statCountErrClient / $statusRepartition.stats.statCount) * 100 | number : '1.0-2'  }}%</div>
                    <div class="sub-label">4xx</div>
                </div>
                <div class="stat" style="color: #ff0000">
                    <div class="label" [matTooltip]="($statusRepartition.stats.statCountErrorServer | number : '1.0-0') + ' / ' + ($statusRepartition.stats.statCount | number : '1.0-0')">{{ ($statusRepartition.stats.statCountErrorServer / $statusRepartition.stats.statCount) * 100 | number : '1.0-2' }}%</div>
                    <div class="sub-label">5xx</div>
                </div>
                <div class="stat" style="color: gray">
                    <div class="label" [matTooltip]="($statusRepartition.stats.statCountUnavailableServer | number : '1.0-0') + ' / ' + ($statusRepartition.stats.statCount | number : '1.0-0')">{{ ($statusRepartition.stats.statCountUnavailableServer / $statusRepartition.stats.statCount) * 100 | number : '1.0-2' }}%</div>
                    <div class="sub-label">0</div>
                </div>-->
            </dynamic-chart>

    </div>
    <div class="mat-elevation-z5"  style="display: flex; align-items: stretch; gap: 10px;">
        <dynamic-chart style="width: 100%; display: flex; flex-direction: column;"
                               [menuConfig]="PERFORMANCE_REPARTITION"
                               [data]="$performanceRepartition.data"
                               [sliceData]="$performanceRepartitionSlice.data"
                               [isLoading]="$performanceRepartition.loading"
                               (chartEmitter)="performanceRepartitionChange($event)">
           <!-- <div class="sub-title" style="width: 30%">Appels par tranche de temps</div>
            <div class="stats-container"  style="width: 70%">
                <div class="stat" style="color: #81D4FA">
                    <div class="label" [matTooltip]="($performanceRepartition.statCountElapsedTimeFastest | number:'1.0-0') + '/' + (_stats.statCount | number:'1.0-0')">{{ (_stats.statCountElapsedTimeFastest / _stats.statCount) * 100 | number : '1.0-2'  }}%</div>
                    <div class="sub-label">< 1s</div>
                </div>
                <div class="stat" style="color: #82C0DC">
                    <div class="label" [matTooltip]="($performanceRepartition.statCountElapsedTimeFast | number:'1.0-0') + '/' + (_stats.statCount | number:'1.0-0')">{{ (_stats.statCountElapsedTimeFast / _stats.statCount) * 100 | number : '1.0-2'  }}%</div>
                    <div class="sub-label">1s <> 3s</div>
                </div>
                <div class="stat" style="color: #83ACBF">
                    <div class="label" [matTooltip]="($performanceRepartition.statCountElapsedTimeMedium | number:'1.0-0') + '/' + ($performanceRepartition.statCount | number:'1.0-0')">{{ ($performanceRepartition.statCountElapsedTimeMedium / $performanceRepartition.statCount) * 100 | number : '1.0-2'  }}%</div>
                    <div class="sub-label">3s <> 5s</div>
                </div>
                <div class="stat" style="color: #8397A1">
                    <div class="label" [matTooltip]="($performanceRepartition.statCountElapsedTimeSlow | number:'1.0-0') + '/' + ($performanceRepartition.statCount | number:'1.0-0')">{{ ($performanceRepartition.statCountElapsedTimeSlow / $performanceRepartition.statCount) * 100 | number : '1.0-2'  }}%</div>
                    <div class="sub-label">5s <> 10s</div>
                </div>
                <div class="stat" style="color: #848383">
                    <div class="label" [matTooltip]="($performanceRepartition.statCountElapsedTimeSlowest | number:'1.0-0') + '/' + ($performanceRepartition.statCount | number:'1.0-0')">{{ ($performanceRepartition.statCountElapsedTimeSlowest / $performanceRepartition.statCount) * 100 | number : '1.0-2'  }}%</div>
                    <div class="sub-label">> 10s</div>
                </div>
            </div>-->
        </dynamic-chart>

    </div>
    <!--<div class="mat-elevation-z5" style="display: flex; align-items: stretch; gap: 10px;">

      <performance-card style="width: 70%; display: flex; flex-direction: column;"
                        [data]="$performanceRepartition.data"
                        [isLoading]="$performanceRepartition.loading"
                        [group]="params?.optional.group">

      </performance-card>
  </div>

  <mat-divider style="margin: 5em" [vertical]="true"></mat-divider>
  <repartition-cross-table style="width: 30%; display: flex; flex-direction: column;"
                           [data]="$timeAndTypeResponseCross.data"
                           [isLoading]="$timeAndTypeResponseCross.loading"
                           [columns]="[
                                  { field: params?.optional?.group, header: 'Nom'},
                                  { field: 'name', header: 'Name' }
                               ]"
                           [segments]="[
                                      { field: 'elapsedTimeFastest', label: 'Fastest', color: '#81D4FA' },
                                      { field: 'elapsedTimeFast', label: 'Fast', color: '#82C0DC' },
                                      { field: 'elapsedTimeMedium', label: 'Medium', color: '#83ACBF' },
                                      { field: 'elapsedTimeSlow', label: 'Slow', color: '#8397A1' },
                                      { field: 'elapsedTimeSlowest', label: 'Slowest', color: '#848383' }
                                    ]">
  </repartition-cross-table>
</div>

<div class="mat-elevation-z5" style="display: flex; align-items: stretch; gap: 10px;">
  <repartition-size-card style="width: 70%; display: flex; flex-direction: column;"
                         [data]="$timeAndTypeResponse.data"
                         [isLoading]="$timeAndTypeResponse.loading"
                         [group]="params?.optional.group">

  </repartition-size-card>
  <mat-divider style="margin: 5em" [vertical]="true"></mat-divider>
  <repartition-cross-table style="width: 30%; display: flex; flex-direction: column;"
                           [data]="$timeAndTypeResponseCross.data"
                           [isLoading]="$timeAndTypeResponseCross.loading"
                           [columns]="[
                                  { field: params?.optional?.group, header: 'Nom'},
                                  { field: 'name', header: 'Name' }
                               ]"
                           [segments]="[
                                      {  field:'sizeIn', label: 'Size In', color: '#4DB6AC' },
                                      {  field:'sizeOut', label: 'Size Out', color: '#014e48' }
                                    ]">
  </repartition-cross-table>
</div>

<div  class="mat-elevation-z5" style="display: flex; align-items: stretch; gap: 10px;">
  <latency-card-http style="width: 70%; display: flex; flex-direction: column;"
                     [data]="$latencyTypeResponse.data"
                     [isLoading]="$latencyTypeResponse.loading"
                     [group]="params?.optional.group">

  </latency-card-http>
  <mat-divider style="margin: 5em" [vertical]="true"></mat-divider>
  <repartition-cross-table style="width: 30%; display: flex; flex-direction: column;"
                           [data]="$latencyTypeResponseCross.data"
                           [isLoading]="$latencyTypeResponseCross.loading"
                           [columns]="[
                                  { field: params?.optional?.group, header: 'Nom'},
                                  { field: 'name', header: 'Name' }
                               ]"
                           [segments]="[
                                      { field: 'elapsedtime', label: 'Avg', color: '#2196F3' },
                                    ]">
  </repartition-cross-table>
</div>

<div  class="mat-elevation-z5" style="display: flex; align-items: stretch; gap: 10px;">
  <dynamic-table style="width: 70%;"
                 [title]="'Incident'"
                 [columns]="[
  { field: params?.optional?.group, header: 'Nom', width: '30%' },
  { field: 'errorType', header: 'Status' },
  { field: 'count', header: 'Total', width: '15%' }
]"
                 [data]="$exceptionsResponse.data"
                 [isLoading]="$exceptionsResponse.loading"
                 [pageSize]="5">
  </dynamic-table>
  <mat-divider style="margin: 5em" [vertical]="true"></mat-divider>
  <dynamic-table style="width: 30%;"
                 [columns]="[
                      { field: params?.optional?.group, header: 'Nom', width: '30%' },
                      { field: 'name', header: 'Nom', width: '30%' },
                      { field: 'errorType', header: 'Status' },
                      { field: 'count', header: 'Total', width: '15%' }
                  ]"
                 [data]="$exceptionsResponseCross.data"
                 [isLoading]="$exceptionsResponseCross.loading"
                 [pageSize]="5">
  </dynamic-table>
</div>
</div>

  <div  class="mat-elevation-z5" style="display: flex; align-items: stretch; gap: 10px;">
      <dynamic-table style="width: 70%;"
                     [title]="'Incident'"
                     [columns]="[
  { field: params?.optional?.group, header: 'Nom', width: '30%' },
  { field: 'errorType', header: 'Status' },
  { field: 'count', header: 'Total', width: '15%' }
]"
                     [data]="$exceptionsResponse.data"
                     [isLoading]="$exceptionsResponse.loading"
                     [pageSize]="5">
      </dynamic-table>
      <mat-divider style="margin: 5em" [vertical]="true"></mat-divider>
      <dynamic-table style="width: 30%;"
                     [columns]="[
                      { field: params?.optional?.group, header: 'Nom', width: '30%' },
                      { field: 'name', header: 'Nom', width: '30%' },
                      { field: 'errorType', header: 'Status' },
                      { field: 'count', header: 'Total', width: '15%' }
                  ]"
                     [data]="$exceptionsResponseCross.data"
                     [isLoading]="$exceptionsResponseCross.loading"
                     [pageSize]="5">
      </dynamic-table>
  </div>
  -->
