<div style="display: flex;flex-direction: column;gap: 20px;">

    <div class="mat-elevation-z5"  style="display: flex; align-items: stretch; gap: 10px;">
        <dynamic-chart style="width: 100%; display: flex; flex-direction: column;"
                                   [menuConfig]="REPARTITION_STATUS"
                                   [data]="$statusRepartition.data"
                                   [sliceData]="$statusRepartitionSlice.data"
                                   [isLoading]="$statusRepartition.loading"
                                   (chartEmitter)="statusRepartitionChange($event)">
            </dynamic-chart>
    </div>
    <div class="mat-elevation-z5"  style="display: flex; align-items: stretch; gap: 10px;">
        <dynamic-chart style="width: 100%; display: flex; flex-direction: column;"
                               [menuConfig]="PERFORMANCE_REPARTITION"
                               [data]="$performanceRepartition.data"
                               [sliceData]="$performanceRepartitionSlice.data"
                               [isLoading]="$performanceRepartition.loading"
                               (chartEmitter)="performanceRepartitionChange($event)">
        </dynamic-chart>
    </div>
    <div class="mat-elevation-z5"  style="display: flex; align-items: stretch; gap: 10px;">
        <dynamic-chart style="width: 100%; display: flex; flex-direction: column;"
                       [menuConfig]="SIZE_REPARTITION"
                       [data]="$sizeRepartition.data"
                       [sliceData]="$sizeRepartitionSlice.data"
                       [isLoading]="$sizeRepartition.loading"
                       (chartEmitter)="sizeRepartitionChange($event)">
        </dynamic-chart>
    </div>
 <div class="mat-elevation-z5"  style="display: flex; align-items: stretch; gap: 10px;">
        <dynamic-chart style="width: 100%; display: flex; flex-direction: column;"
                       [menuConfig]="LATENCY_REPARTITION"
                       [data]="$latencyRepartition.data"
                       [sliceData]="$latencyRepartitionSlice.data"
                       [isLoading]="$latencyRepartition.loading"
                       (chartEmitter)="latencyRepartitionChange($event)">
        </dynamic-chart>
    </div>

    <!--<div class="mat-elevation-z5" style="display: flex; align-items: stretch; gap: 10px;">

      <performance-card style="width: 70%; display: flex; flex-direction: column;"
                        [data]="$performanceRepartition.data"
                        [isLoading]="$performanceRepartition.loading"
                        [group]="params?.optional.group">

      </performance-card>
  </div>

  <mat-divider style="margin: 5em" [vertical]="true"></mat-divider>
  <repartition-cross-table style="width: 30%; display: flex; flex-direction: column;"
                           [data]="$timeAndTypeResponseCross.data"
                           [isLoading]="$timeAndTypeResponseCross.loading"
                           [columns]="[
                                  { field: params?.optional?.group, header: 'Nom'},
                                  { field: 'name', header: 'Name' }
                               ]"
                           [segments]="[
                                      { field: 'elapsedTimeFastest', label: 'Fastest', color: '#81D4FA' },
                                      { field: 'elapsedTimeFast', label: 'Fast', color: '#82C0DC' },
                                      { field: 'elapsedTimeMedium', label: 'Medium', color: '#83ACBF' },
                                      { field: 'elapsedTimeSlow', label: 'Slow', color: '#8397A1' },
                                      { field: 'elapsedTimeSlowest', label: 'Slowest', color: '#848383' }
                                    ]">
  </repartition-cross-table>
</div>

<div class="mat-elevation-z5" style="display: flex; align-items: stretch; gap: 10px;">
  <repartition-size-card style="width: 70%; display: flex; flex-direction: column;"
                         [data]="$timeAndTypeResponse.data"
                         [isLoading]="$timeAndTypeResponse.loading"
                         [group]="params?.optional.group">

  </repartition-size-card>
  <mat-divider style="margin: 5em" [vertical]="true"></mat-divider>
  <repartition-cross-table style="width: 30%; display: flex; flex-direction: column;"
                           [data]="$timeAndTypeResponseCross.data"
                           [isLoading]="$timeAndTypeResponseCross.loading"
                           [columns]="[
                                  { field: params?.optional?.group, header: 'Nom'},
                                  { field: 'name', header: 'Name' }
                               ]"
                           [segments]="[
                                      {  field:'sizeIn', label: 'Size In', color: '#4DB6AC' },
                                      {  field:'sizeOut', label: 'Size Out', color: '#014e48' }
                                    ]">
  </repartition-cross-table>
</div>
-->
