<div style="display: flex; align-items: stretch;">
  <repartition-type-card style="width: 50%" [seriesProvider]="seriesProvider" [data]="$timeAndTypeResponse.data" [isLoading]="$timeAndTypeResponse.loading">
    <div class="stat" style="color: #33cc33;">
      <div class="label" [matTooltip]="($timeAndTypeResponse.stats.statCountOk | number : '1.0-0') + ' / ' + ($timeAndTypeResponse.stats.statCount | number : '1.0-0')">{{ ($timeAndTypeResponse.stats.statCountOk / $timeAndTypeResponse.stats.statCount) * 100 | number : '1.0-2'  }}%</div>
      <div class="sub-label">2xx</div>
    </div>
    <div class="stat" style="color: #ffa31a">
      <div class="label" [matTooltip]="($timeAndTypeResponse.stats.statCountErrClient | number : '1.0-0') + ' / ' + ($timeAndTypeResponse.stats.statCount | number : '1.0-0')">{{ ($timeAndTypeResponse.stats.statCountErrClient / $timeAndTypeResponse.stats.statCount) * 100 | number : '1.0-2'  }}%</div>
      <div class="sub-label">4xx</div>
    </div>
    <div class="stat" style="color: #ff0000">
      <div class="label" [matTooltip]="($timeAndTypeResponse.stats.statCountErrorServer | number : '1.0-0') + ' / ' + ($timeAndTypeResponse.stats.statCount | number : '1.0-0')">{{ ($timeAndTypeResponse.stats.statCountErrorServer / $timeAndTypeResponse.stats.statCount) * 100 | number : '1.0-2' }}%</div>
      <div class="sub-label">5xx</div>
    </div>
  </repartition-type-card>

</div>

<performance-card [data]="$timeAndTypeResponse.data" [isLoading]="$timeAndTypeResponse.loading"></performance-card>
<app-dependency-table-request-http style="height: 100%" [data]="$dependenciesResponse.table" [isLoading]="$dependenciesResponse.loading"></app-dependency-table-request-http>
<div class="card-container mat-elevation-z5" style="height: 306px">
    <div class="title-container">
        <span class="title">Erreur</span>
    </div>
    <exceptions-table-new [data]="$exceptionsResponse.data" [isLoading]="$exceptionsResponse.loading" (onRowSelected)="onSessionExceptionRowSelected($event)"></exceptions-table-new>
</div>
