<div class="modal">

  <div class="modal-header">
    <div class="modal-header-left">
      <div class="modal-icon">
        <mat-icon>warning_amber</mat-icon>
      </div>
      <div class="modal-info">
        <div class="modal-title">
          Exceptions <span class="modal-badge">{{ data.exceptions.type }}</span>
        </div>
        <div class="modal-subtitle">
          {{ exceptions.length }} occurrence{{ exceptions.length !== 1 ? 's' : '' }} détectée{{ exceptions.length !== 1 ? 's' : '' }}
        </div>
      </div>
    </div>
    <button class="modal-close" mat-dialog-close>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="modal-body">
      <exceptions-table class="modal-table" [data]="exceptions" (onRowSelected)="selectedRow($event.event, $event.row)"></exceptions-table>
  </div>

</div>

