mat-card-title {
  display: flex !important;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  .right {
    margin-left: auto;
  }
}

mat-card-content {
  height: 100%;
  padding: 0 16px 16px;
}

mat-card-footer {
  padding: 0 16px;
  border: 1px solid rgba(0,0,0,.05);
  display: flex !important;
  align-items: center;
  gap: 0.5em;
  font-style: italic;
  font-size: 14px;
  justify-content: space-between;
  .right {
    display: flex;
    align-items: center;
  }
}