/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.noDataMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 // background-color:  white;
  color:gray
}

.fullwidth{
  width: 100%;
}

.fullwidthFixed{
  width: 100%;
  table-layout: fixed !important;
}


.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #1423DC;
  --mdc-protected-button-label-text-color: #fff;
}

.table-column-content {
  display: inline;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.hidden {
  display: none !important;
}

.mat-mdc-tooltip .mdc-tooltip__surface {
  max-width: 400px;
  text-overflow: ellipsis;
  overflow: hidden;
}

mat-form-field.no-subscript {
  .mat-mdc-form-field-subscript-wrapper {
      display: none;
  }
}

.mdc-data-table__cell:has(#pie-chart) {
  overflow: visible !important;
}

.vis-item {
  cursor: pointer !important;
}

.overflow .vis-item-overflow {
    overflow: visible !important;
    color:#000000 !important;
}

.vis-cluster{
  background-color: #e3f2fd!important;
  border: 1px solid #2196f3!important;
  color: #0d47a1!important;
  font-weight: bold!important;
}


.vis-item {
  color: white !important;
  
  &.instance {
    background-color: #4FB7B3;
    border-color: #4FB7B3;

  }
  &.instance-active {
    background-color: #A8FBD3 !important;
    border-color: #A8FBD3 !important;
  }
  &.rest {
    background-color: #3F51B5;
    border-color: #3F51B5;
  }
  &.ftp {
    background-color: #2196F3;
    border-color: #2196F3;
  }
  &.ldap {
    background-color: #00BCD4;
    border-color: #00BCD4;
  }
  &.smtp {
    background-color: #9C27B0;
    border-color: #9C27B0;
  }
  &.jdbc {
    background-color: #a5673f;
    border-color: #a5673f;
  }
  &.local {
    background-color: #3b3b38;
    border-color: #3b3b38;
  }
  &.action {
    background-color: #FF6F61;
    border-color: #FF6F61;
  }

  &.log-info{
    color: #2196f3;
    background-color: #c1e4ff;
    border-color: #71bcf7;
  }

  &.log-error{
    color:  rgb(187, 33, 36);
    background-color: #eed0d0;
    border-color: #c35449;
  }

  &.log-warn{
    color: rgb(249, 173, 78);
    background-color: #ffe7cf;
    border-color: #f5b87a;
  }

  &.stage-process{
    background-color: rgba(217, 221, 250, 0.50) !important;
    border: 1px solid rgb(217, 221, 250) !important;
  }
  &.stage-other-process{
    background-color: rgba(217, 221, 250, 0.20) !important;
    border: 1px solid rgb(217, 221, 250) !important;
  }
}

.vis-range.client-error {
  border-top: 4px #f9ad4e solid !important;
}
.vis-range.error {
  border-top: 4px #bb2124 solid !important;
}
.vis-dot.error {
  border-color: #bb2124 !important;
}

.vis-custom-time { // makes markers not draggable
  pointer-events: none;
}

.badge {
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 12px;
  font-size: 0.8em;
  gap: 0.5em
}


/*.vis-item.vis-selected{
  background-color: orange;
  border-color: orangered;
}*/

.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

mat-form-field.loading {

  mat-select {
    pointer-events: none;
  }

  .mat-mdc-select-arrow {
    opacity: 0;
  }
  
  mat-spinner.mdc-circular-progress {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}

.empty-row {
  display: flex;
  gap: .5em;
  height: 52px;
  color: #707070;
  font-weight: 500;
  width: 100%;
  font-size: 12px;
  justify-content: center;
}

.loading-row {
  display: flex;
  gap: .5em;
  height: 80px;
  color: #707070;
  font-weight: 500;
  width: 100%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background: white;
}

.mdc-data-table__cell:has(chart) {
  overflow: initial;
}

.error-badge {
  background-color: red;
  color: white;
  padding: 2px 6px;
  text-align: center;
  border-radius: 12px;
}

//to be put in architecture compo
.arrow_box{
  display: flex; 
  gap: 0.5em;
  margin: 5px;
  flex-direction: column;
}

.dashboard_component_title {
  margin-left: 10px;
  font-weight: 900;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.chart-test > div:first-child{
  height: 100%;
}

.mat-tooltip {
  white-space: pre-line; // Allow line break
}

.card-container {
  display: flex;
  flex-direction: column;
  margin: 1em;

  .title-container {
    display: flex;
    justify-content: space-between;
    height: 50px;
    font-size: 16px;
    margin-left: 16px;

    .title {
      display: flex;
      flex-direction: column;
      font-weight: 700;
      justify-content: center;

      .sub {
        font-size: 12px;
        font-weight: 400;
        font-style: italic;
        color: #6c6c6c;
      }
    }

    .sub-title {
      display: flex;
      font-size: 14px;
      font-style: italic;
      font-weight: 600;
      align-items: center;
    }

    .stats-container {
      display: flex;
      gap: 0.5em;
      justify-content: space-evenly;

      .stat {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .label {
          font-weight: bold
        }

        .sub-label {
          font-size: 12px;
          font-weight: 200
        }
      }
    }
  }
}

.loading {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #6c6c6c;
}

loading.hidden {
  display: none;
}

.mat-mdc-tab-body-content {
  overflow: hidden !important;
}

.mat-mdc-standard-chip .mdc-evolution-chip__cell--primary, .mat-mdc-standard-chip .mdc-evolution-chip__action--primary, .mat-mdc-standard-chip .mat-mdc-chip-action-label {
  overflow: hidden !important;
}

.mat-mdc-option .mdc-list-item__primary-text {
  word-break: break-all;
}


.stretch-badge > .mat-badge-content {
  width: auto !important;
  right: unset !important;
  padding-left: 3px;
  padding-right: 3px;
}

.mat-badge-content{
  border-radius: 7px !important;
}

.hash{
  font-size:.7em;
  margin:0 0 0 2px;
  opacity:.75
}

.no-data-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: #f5f5f5;
  margin: 2rem;
  border-radius: 8px;

  mat-icon {
    font-size: 48px;
    height: 48px;
    width: 48px;
    margin-bottom: 1rem;
    color: #9e9e9e;
  }

  p {
    font-size: 1.2rem;
    color: #757575;
    text-align: center;
  }
}

.md-2 .mat-mdc-form-field-infix {
  height: 48px;
}

.md-3 .mat-mdc-form-field-infix {
  height: 44px;
}

.mat-mdc-form-field-icon-prefix>.mat-icon, .mat-mdc-form-field-icon-suffix>.mat-icon {
  padding: 0 12px 0 0 !important;
}


.vis-item.vis-range.in-progress {
  background-image: repeating-linear-gradient(
                  -45deg,
                  transparent,
                  transparent 5px,
                  rgba(255, 255, 255, 0.1) 5px,
                  rgba(255, 255, 255, 0.1) 10px
  ) !important;
}