:host {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

chart {
    flex: 1;
    min-height: 250px;
}
