<header-page [templateTitle]="title" [iconOutlined]="true" titleIcon="browse_activity" [templateSubTitle]="subtitle">
  <ng-template #title>
    <div style="display: flex; align-items: center; gap: 1.5em">
      {{ instance?.name || 'Aucune instance sélectionnée' }}
      <app-status-indicator *ngIf="!isLoading && instance"
                            [params]="{id: instance.id, end: instance.end, configuration: instance.configuration, lastTrace: lastTrace}"></app-status-indicator>
    </div>

  </ng-template>
  <ng-template #subtitle>
    <div style="display: flex; gap: 0.5em">
      <label-chip *ngIf="instance?.version" [ngStyle]="{'cursor': instance?.configuration ? 'pointer' : ''}" [matTooltip]="instance?.collector"
                  (click)="instance?.configuration ? openConfig() : ''">{{ instance?.version }}
      </label-chip>
      <label-chip *ngIf="!instance?.version" color="gray">Version non disponible</label-chip>
      <label-chip color="orange" *ngIf="instance?.branch" [matTooltip]="instance?.hash">{{ instance?.branch }}
      </label-chip>
    </div>
  </ng-template>
  <div style="display: flex; align-items: center; justify-content: space-between; margin-left: auto; gap: 0.5em">
    <mat-form-field style="width: 315px" class="no-subscript md-3" appearance="outline">
      <mat-label>Période</mat-label>
      <mat-date-range-input [formGroup]="formGroup.controls.range" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" (dateChange)="onChangeStart($event)">
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="onChangeEnd($event)">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
  <mat-form-field style="width: 260px" class="no-subscript md-3" [class.loading]="isLoadingInstances"
                  appearance="outline">
      <mat-label>Serveur</mat-label>
      <mat-select [formControl]="formGroup.controls.server" (selectionChange)="onServerChange()" >
          <mat-select-trigger>
              {{ formGroup.controls.server?.value || '' }}
          </mat-select-trigger>
          <mat-option *ngFor="let serverName of servers" [value]="serverName">
              <div style="display: flex; flex-direction: column;">
                  {{ serverName }}
              </div>
          </mat-option>
      </mat-select>
      <mat-spinner *ngIf="isLoadingInstances" [diameter]="18"></mat-spinner>
  </mat-form-field>
    <button mat-mini-fab
            [color]="formGroup.controls.instance.value ? 'primary' : 'warn'"
            (click)="openInstanceSelector()"
            [disabled]="isLoadingInstances || !formGroup.controls.server.valid"
            [matTooltip]="formGroup.controls.instance.value ? 'Sélectionner une instance' : 'Instance requise - Cliquez pour sélectionner'">
      <mat-icon matSuffix>list_alt</mat-icon>
    </button>
    <button mat-mini-fab color="primary" (click)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </div>

</header-page>

<div style="display: flex;">
  <div style="width: 50%" class="card-container mat-elevation-z5">
    <div class="title-container">
      <span class="title">
        Mémoire
        <div class="sub" style="display: flex; align-items: center; gap: 0.5em;">
          Mo
        </div>
      </span>
    </div>
    <chart type="line" [config]="USAGE_RESOURCE_BY_PERIOD_LINE"
           [data]="usageResourceByPeriod" [isLoading]="isLoading"></chart>
  </div>
  <div style="width: 50%" class="card-container mat-elevation-z5">
    <div class="title-container">
      <span class="title">
        Disque
        <div class="sub" style="display: flex; align-items: center; gap: 0.5em;">
          Mo
        </div>
      </span>
    </div>
    <chart type="line" [config]="USAGE_DISK_BY_PERIOD_LINE"
           [data]="usageResourceByPeriod" [isLoading]="isLoading"></chart>
  </div>

</div>
<div style="display: flex;">
  <div style="width: 100%" class="card-container mat-elevation-z5">
    <div class="title-container">
      <div class="title">
        Activité
        <div class="sub" style="display: flex; align-items: center; gap: 0.5em;"
             *ngIf="instance?.configuration?.scheduling?.interval">
          Toute(s) les {{ instance?.configuration?.scheduling?.interval | number }}s
        </div>
      </div>
    </div>
    <div class="activity-container">
      <div class="stats-sidebar">
        <div class="stats-card trace" (click)="activityDisplayType = 'TRACE'">
          <div class="stats-icon">
            <mat-icon class="material-symbols-outlined">equalizer</mat-icon>
          </div>
          <div class="stats-info">
            <div class="stats-value">{{ traceStat | number }}</div>
            <div class="stats-label">Nombre de Traces</div>
          </div>
        </div>
        <div class="stats-card unavailable" (click)="activityDisplayType = 'ATTEMPT'">
          <div class="stats-icon">
            <mat-icon class="material-symbols-outlined">hourglass_pause</mat-icon>
          </div>
          <div class="stats-info">
            <div class="stats-value">{{ unavailableStat | number: '1.0-2' }}s</div>
            <div class="stats-label">Indisponibilité</div>
          </div>
        </div>
        <div class="stats-card report"
             [ngStyle]="{'cursor': logEntryByPeriod.length ? 'pointer': '', 'pointer-events': logEntryByPeriod.length ? '': 'none'}"
             (click)="activityDisplayType = 'REPORT'">
          <div class="stats-icon">
            <mat-icon class="material-symbols-outlined">exclamation</mat-icon>
          </div>
          <div class="stats-info">
            <div class="stats-value">{{ logEntryByPeriod.length }}</div>
            <div class="stats-label">Report</div>
          </div>
        </div>
      </div>
      <div class="activity-content" [ngSwitch]="activityDisplayType">
        <chart *ngSwitchDefault type="line" [config]="USAGE_INSTANCE_TRACE_BY_PERIOD_LINE"
               [data]="instanceTraceByPeriod" [isLoading]="isLoading"></chart>
        <chart *ngSwitchCase="'ATTEMPT'" type="line" [config]="ATTEMPT_INSTANCE_TRACE_BY_PERIOD_LINE"
               [data]="instanceTraceByPeriod" [isLoading]="isLoading"></chart>
        <report-table *ngSwitchCase="'REPORT'" style="height: 252px;" [data]="logEntryByPeriod" (onClick)="open($event)"></report-table>
      </div>
    </div>
  </div>
</div>