<div *ngIf="!isLoading && request && instance" class="header-card">
  <mat-card style="width: 50vw; min-width: 50vw;"
            [ngClass]="{'success': request.end && !request.failed,
                          'fail': request.end && request.failed,
                          'in-progress': !request.end}">
    <mat-card-title>
      <label-icon [icon]="REQUEST_TYPE['smtp'].icon">
        <div style="display: flex; gap: 0.5em; align-items: center;">
          {{ 'smtp://' + (request.host ? request.host : 'N/A') + (request.port == -1 ? '' : ':' + request.port)}}
          <mat-spinner *ngIf="!request.end" [diameter]="18"></mat-spinner>
        </div>
      </label-icon>

      <div class="right">
        <button mat-icon-button [disabled]="sessionParent == null"
                [ngStyle]="sessionParent == null ? {'pointer-events': 'none'}: ''" (click)="navigate($event,'parent')"
                matTooltip="Détail de l'appel parent">
          <mat-icon>move_up</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <div style="display: flex; align-items: center; gap: 0.5em; color: red; font-weight: 500; margin-top: 0.5em;"
           *ngIf="exception"
           [matTooltip]="exception.type">
        <mat-icon style="width: 28px" class="material-symbols-outlined">warning</mat-icon>
        <div class="ellipsis">{{exception.message}}</div>
      </div>
    </mat-card-content>
    <mat-card-footer>
      <mat-icon class="material-symbols-outlined" style="width: 20px; height: 20px; font-size: 20px;">person</mat-icon>
      <div style="display: flex; align-items: center; gap: 0.5em">
        {{request.user || "N/A"}} le {{( request.start*1000 ) | date: 'dd/MM/yyyy à HH:mm:ss.SSS': 'fr' }}
        en <span style="font-weight: bold">{{{ start: request.start, end: request.end } | duration}}</span>
      </div>
    </mat-card-footer>
  </mat-card>
  <mat-card style="width: 50vw;">
    <mat-card-title>
      <label-icon icon="widgets">
        {{instance.name}}
        <span style="font-size: 12px; font-style: italic; font-weight: normal; margin-left: 0.5em" [matTooltip]="instance.collector">{{instance.version}}</span>
      </label-icon>
      <div class="right">
        <button mat-icon-button [matMenuTriggerFor]="menuServer">
          <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-content style="margin-left: 1em;">
      <label-icon [icon]="'data_table'">
        <div style="font-weight: 500; font-size: 14px;">
          {{instance.os}}
        </div>
        <div style="font-style: italic; font-size: 12px;">
          {{instance.re}}
        </div>
      </label-icon>
    </mat-card-content>
    <mat-card-footer>
      <label-icon icon="person" [iconOutlined]="true" [size]="20">
        {{instance.user || "N/A"}}
        le {{ (instance.instant * 1000) | date: 'dd/MM/yyyy à HH:mm:ss.SSS': 'fr' }}
      </label-icon>
      <div *ngIf="instance.end" class="right" [matTooltip]="((instance.end * 1000) | date: 'dd/MM/yyyy à HH:mm:ss.SSS': 'fr')">
        en <span style="font-weight: bold">{{((instance.end - instance.instant) | duration)}}</span>
      </div>
    </mat-card-footer>
  </mat-card>
</div>


<app-timeline
        [options]="options"
        [groups]="dataGroups"
        [items]="dataItems" [displayHeader]="false">
</app-timeline>

<div *ngIf="!isLoading && request && request.mails?.length" style="margin-bottom: 2em; margin-top: 1em">
  <header-section icon="attach_email">Mails</header-section>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="subject">
        <th mat-header-cell *matHeaderCellDef>
          <span style="display: flex; align-items: center; gap: 0.2em;">
              <mat-icon>subject</mat-icon>
              Objet
          </span>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element.subject }}
        </td>
      </ng-container>

      <ng-container matColumnDef="from">
        <th mat-header-cell *matHeaderCellDef>De</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; flex-direction: column">
            <span *ngFor="let f of element.from">
                {{ f }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="recipients">
        <th mat-header-cell *matHeaderCellDef>A</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; flex-direction: column">
            <span *ngFor="let f of element.recipients">
                {{ f }}
            </span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="replyTo">
        <th mat-header-cell *matHeaderCellDef>Cc</th>
        <td mat-cell *matCellDef="let element">
          <div style="display: flex; flex-direction: column">
            <span *ngFor="let f of element.replyTo">
                {{ f }}
            </span>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
      <tr mat-row *matRowDef="let row;columns: displayedColumns;"></tr>
    </table>
  </div>
</div>


<div *ngIf="!isLoading && !request && !request.mails?.length && !instance" class="noDataMessage mat-elevation-z5" style="height: calc(100vh - 50px - 1em);">
  <h2>
    Aucun détail disponible ..
  </h2>
</div>
<div *ngIf="isLoading"
     style="width: 100%; height: calc(100vh - 50px - 1em); display: flex; flex-direction: row; align-items: center; justify-content: center; font-style: italic; gap: 0.5em">
  <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
  Chargement en cours...
</div>

<mat-menu #menuServer="matMenu">
  <a mat-menu-item [routerLink]="['/session', instance?.name, 'dump']" [queryParams]="{env: instance?.env, date: getDate(request?.start * 1000).toISOString()}"><mat-icon class="material-symbols-outlined">view_timeline</mat-icon>Pulse</a>
  <a mat-menu-item [routerLink]="['/dashboard', 'server', instance?.name]" [queryParams]="{env: instance?.env}"><mat-icon class="material-symbols-outlined">monitoring</mat-icon>KPI Serveur</a>
  <a mat-menu-item [routerLink]="['/supervision', instance?.id]" [queryParams]="{start: getDate((request?.start * 1000) - 43200000).toISOString(), end: getDate((request?.start * 1000) + 43200000).toISOString(), env: instance?.env}"><mat-icon class="material-symbols-outlined">browse_activity</mat-icon>Supervision</a>
</mat-menu>