<header-page titleIcon="monitoring" [iconOutlined]="true" [ui-title]="'statistiques des Requêtes '" >


  <form class="filter-container" [formGroup]="filterForm">

    <mat-form-field style="width: 240px" class="no-subscript md-3" appearance="outline">
      <mat-label>Période</mat-label>
      <mat-date-range-input [formGroup]="filterForm.controls.dateRange" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date" readonly>
        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="onChangeEnd($event)" readonly>
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
   <mat-form-field  style="width: 240px" class="no-subscript md-3" appearance="outline" [class.loading]="serverNameIsLoading" >
       <mat-label>Host</mat-label>
       <mat-select [formControl]="filterForm.controls.host" multiple (openedChange)="onHostopenedChange($event)" (selectionchange)="onChangeHost($event)" )>
           <span *ngIf="filterForm && params.queryParams.appname && params.queryParams.appname[0]!=''"><mat-option *ngFor="let s of params.queryParams.appname">{{s}}</mat-option></span>
           <mat-option *ngFor="let d of nameDataList" [value]="d" >{{d}}</mat-option>
       </mat-select>
       <mat-spinner *ngIf="serverNameIsLoading" [diameter]="18"></mat-spinner>
   </mat-form-field>
   <button mat-button (click)="isOpen = !isOpen" [matBadge]="" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
       <mat-icon>tune</mat-icon>
   </button>
  </form>
    <ng-template
            cdkConnectedOverlay
            [cdkConnectedOverlayOrigin]="trigger"
            [cdkConnectedOverlayOpen]="isOpen"
            [cdkConnectedOverlayHasBackdrop]="true"
            (overlayOutsideClick)="onOverlayOutsideClick()">
        <overlay-container-filter [templateContent]="firstTab" (onClick)="onClickFilter()" />
        <ng-template #firstTab>
            <mat-form-field class="no-subscript md-3" appearance="outline">
                <mat-label>Grouper par</mat-label>
                <mat-select [formControl]="filterForm.controls.group" (selectionchange)="onGroupChange($event)">
                    <mat-option value="date">Horodate</mat-option>
                    <mat-option value="method">Methode</mat-option>
                    <mat-option value="media">Media-type</mat-option>
                    <mat-option value="auth">Auth</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field class="no-subscript md-3" appearance="outline" >
                <mat-label>Croiser avec</mat-label>
                <mat-select [formControl]="filterForm.controls.cross" (selectionchange)="onCrossChange($event)">
                    <mat-option value="user">User</mat-option>
                    <mat-option value="app">App</mat-option>
                </mat-select>
            </mat-form-field>

        </ng-template>
    </ng-template>
</header-page>
<ng-container #container></ng-container>