:host {
    display: block;
    height: 100vh;
    overflow: hidden;
}

mat-drawer-container {
    position: relative;
    z-index: 1;
    height: calc(100vh - 56px);
    margin-top: 56px;
}

mat-drawer-content {
    box-sizing: border-box;
    overflow-x: hidden;
    padding: 7px 7px 0 7px;
}