<nav>
    <mat-toolbar color="primary" style="display: flex; align-items: center; height: 48px;">
        <span style="margin-right: 0.5em;cursor:pointer" (click)="gotoHome($event)">INSPECT</span>

        <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <a mat-menu-item [routerLink]="['session/rest']" (click)="navigate($event,'session/rest')"  routerLinkActive="menu-active">
                <mat-icon class="material-symbols-outlined">{{ MAPPING_TYPE['rest'].icon }}</mat-icon>
                <span>{{ MAPPING_TYPE['rest'].title }}</span>
            </a>
            <a mat-menu-item [matMenuTriggerFor]="requests">
                <mat-icon>{{ MAPPING_TYPE['request'].icon }}</mat-icon>
                <span>{{ MAPPING_TYPE['request'].title }}</span>
            </a>
            <a mat-menu-item [routerLink]="['session/main/batch']" (click)="navigate($event,'session/main/batch')" routerLinkActive="menu-active">
                <mat-icon class="material-symbols-outlined">{{ MAPPING_TYPE['batch'].icon }}</mat-icon>
                <span>{{ MAPPING_TYPE['batch'].title }}</span>
            </a>
            <a mat-menu-item [routerLink]="['session/main/startup']" (click)="navigate($event,'session/main/startup')" routerLinkActive="menu-active">
                <mat-icon class="material-symbols-outlined">{{ MAPPING_TYPE['startup'].icon }}</mat-icon>
                <span>{{ MAPPING_TYPE['startup'].title }}</span>
            </a>
            <a mat-menu-item [routerLink]="['session/main/view']" (click)="navigate($event,'session/main/view')" routerLinkActive="menu-active">
                <mat-icon>{{ MAPPING_TYPE['view'].icon }}</mat-icon>
                <span>{{ MAPPING_TYPE['view'].title }}</span>
            </a>
        </mat-menu>

        <mat-menu #requests="matMenu">
            <a mat-menu-item [routerLink]="['request/rest']" (click)="navigate($event,'request/rest')" routerLinkActive="menu-active">
                <mat-icon class="material-symbols-outlined">{{ REQUEST_TYPE['rest'].icon }}</mat-icon>
                <span>{{ REQUEST_TYPE['rest'].title }}</span>
            </a>
            <a mat-menu-item [routerLink]="['request/database']" (click)="navigate($event,'request/database')" routerLinkActive="menu-active">
                <mat-icon class="material-symbols-outlined">{{ REQUEST_TYPE['database'].icon }}</mat-icon>
                <span>{{ REQUEST_TYPE['database'].title }}</span>
            </a>
            <a mat-menu-item [routerLink]="['request/ftp']" (click)="navigate($event,'request/ftp')" routerLinkActive="menu-active">
                <mat-icon class="material-symbols-outlined">{{ REQUEST_TYPE['ftp'].icon }}</mat-icon>
                <span>{{ REQUEST_TYPE['ftp'].title }}</span>
            </a>
            <a mat-menu-item [routerLink]="['request/smtp']" (click)="navigate($event,'request/smtp')" routerLinkActive="menu-active">
                <mat-icon class="material-symbols-outlined">{{ REQUEST_TYPE['smtp'].icon }}</mat-icon>
                <span>{{ REQUEST_TYPE['smtp'].title }}</span>
            </a>
            <a mat-menu-item [routerLink]="['request/ldap']" (click)="navigate($event,'request/ldap')" routerLinkActive="menu-active">
                <mat-icon class="material-symbols-outlined">{{ REQUEST_TYPE['ldap'].icon }}</mat-icon>
                <span>{{ REQUEST_TYPE['ldap'].title }}</span>
            </a>
        </mat-menu>
        <span style="flex-grow: 1;"></span>
        <a (click)="navigate($event,'deploiment')"
           [matTooltip]="MAPPING_TYPE['deploiment'].title" style="margin-right: 0.5em" mat-icon-button>
            <span class="material-symbols-outlined">{{MAPPING_TYPE['deploiment'].icon}}</span>
        </a>
        <mat-form-field appearance="fill" class="md-2 no-subscript" [class.loading]="isLoadingEnv">
            <mat-select [formControl]="env">
                <mat-option *ngFor="let e of envs" [value]="e">{{ e }}</mat-option>
            </mat-select>
            <mat-spinner *ngIf="isLoadingEnv" [diameter]="18"></mat-spinner>
        </mat-form-field>
        <a href="https://github.com/orgs/oneteme/projects/17" style="margin-left: 0.5em" target="_blank" mat-icon-button>
            <mat-icon svgIcon="github"></mat-icon>
        </a>
    </mat-toolbar>
</nav>
<mat-drawer-container>
    <mat-drawer-content>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>