<div [ngStyle]="{'display': !dataSource.data.length ? 'none' : 'flex'}" style="flex-direction: column; justify-content: space-between; height: 100%">
  <table mat-table [dataSource]="dataSource" #sort="matSort"
         matSort>

    <ng-container matColumnDef="appName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Serveur</th>
      <td mat-cell *matCellDef="let row">
        {{ row.appName || 'N/A' }}
      </td>
    </ng-container>

    <ng-container matColumnDef="version">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
      <td mat-cell *matCellDef="let row">
        <span> {{ row.version || 'N/A' }}  </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="duree">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Depuis</th>
      <td mat-cell *matCellDef="let row">
        <span [matTooltip]="row.start | date:'dd/MM/yyyy, HH:mm:ss.SSS':'fr'">{{(today?.getTime() - row.start) / 1000 | duration }}</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <div [hidden]="dataSource?.data.length < 4">
    <mat-paginator [pageSize]="3" [hidePageSize]="true" showFirstLastButtons></mat-paginator>
  </div>
</div>

<div [hidden]="dataSource?.data?.length" style="height: 100%">
  <div class="loading">
    {{isLoading ? 'Chargement des données...' : 'Aucune donnée'}}
  </div>
</div>