.loading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #6c6c6c;
}

.mat-mdc-row .mat-mdc-cell {
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgb(206, 206, 206);
}

table {
    width: 100%;
}

