<header-page titleIcon="web_traffic" [iconOutlined]="true" [ui-title]="'Actions de l\'utilisateur ' + params.user">
    <div class="header-right" [formGroup]="filterForm">
        <mat-form-field style="width: 200px" class="no-subscript md-3" appearance="outline">
            <mat-label>Choisir une date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="date">
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field class="no-subscript md-3" appearance="outline">
            <mat-label>Choisir un utilisateur</mat-label>
            <mat-select formControlName="user">
                <mat-option *ngFor="let user of $users | async" [value]="user">{{user}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</header-page>

<div class="timeline">
    <div *ngIf="sessions.length === 0 && !loading" class="no-data-container">
        <mat-icon>info</mat-icon>
        <p>Aucune donnée disponible pour cet utilisateur à cette date</p>
    </div>
    <div *ngIf="sessions.length === 0 && loading" class="no-data-container">
      <p>En cours de chargement</p>
      <mat-progress-bar style="width: 50%" mode="query"></mat-progress-bar>
    </div>
    <div *ngFor="let session of sessions" class="timeline-section" (click)="onClickSession($event, session)">
        <div style="margin-bottom: 1rem; margin-top: 1rem;">
            <div style="font-size: 1.3rem; font-weight: bold; color: #333; display: flex; justify-content: space-between">
                {{session.name}}
                <div style="font-size: 14px; gap:0.5em; display: flex; align-items: center;">
                    <span style="gap:0.5em; display: flex; align-items: center; opacity: 0.5; font-style: italic">
                        <mat-icon>date_range</mat-icon>
                        {{session.start * 1000 | date: 'dd/MM/yyyy HH:mm:ss': 'fr'}} - {{session.end * 1000 | date: 'dd/MM/yyyy HH:mm:ss': 'fr'}}

                    </span>
                    en {{{ start: session.start, end: session.end } | duration}}
                </div>

            </div>
            <div style="opacity: 0.5; font-style: italic">{{session.location}}</div>
        </div>
        <div *ngFor="let userAction of session.userActions; let last = last" class="timeline-item">
            <div class="content">
                <div class="dot"></div>
                <span class="timestamp">{{userAction.start * 1000 | date: 'dd/MM/yyyy à HH:mm:ss': 'fr'}}</span>
                <span style="width: 200px">{{ANALYTIC_MAPPING[userAction.type] ? ANALYTIC_MAPPING[userAction.type].label : userAction.type}}</span>
                <mat-icon>arrow_right_alt</mat-icon>
                <p>{{ANALYTIC_MAPPING[userAction.type] ? ANALYTIC_MAPPING[userAction.type].text(userAction) : 'Action non mappé'}}</p>
            </div>
            <div *ngIf="!last" class="border"></div>
        </div>
    </div>
    <div style="display: flex; justify-content: center; gap: 10px;">
        <button mat-button *ngIf="params.limit > 10" (click)="loadLess()">
            Voir moins <mat-icon>expand_less</mat-icon>
        </button>
        <button mat-button *ngIf="params.limit <= count" (click)="loadMore()">
            Voir plus <mat-icon>expand_more</mat-icon>
        </button>
    </div>
</div>

