<jquery-table class="flex-table" [config]="tableConfig" [data]="_requests">

  <ng-template jqtCellDef="duration" let-row>
    <div *ngIf="!row.end" style="display: flex; align-items: center; gap: 6px;">
      <mat-spinner [diameter]="14"></mat-spinner>
      En cours...
    </div>
    <div *ngIf="row.end" [matTooltip]="row.end | date:'dd/MM/yyyy, HH:mm:ss.SSS':'fr'">
      {{ {start: row.start / 1000, end: row.end / 1000 } | duration }}
    </div>
  </ng-template>

  <ng-template jqtCellDef="version" let-row>
    <app-version-badge
            [backgroundColor]="versionColor[row.version]"
            [configuration]="row.configuration"
            [collector]="row.collector"
            [version]="row.version" />
  </ng-template>

  <ng-template jqtCellDef="start" let-row>
    {{ (row.start | date:'dd/MM/yyyy') }}
    <br>
    {{ (row.start | date:'HH:mm:ss.SSS') }}
  </ng-template>

  <ng-template jqtCellDef="branch" let-row>
    <app-branch-hash-badge [branch]="row.branch" [hash]="row.hash"/>
  </ng-template>

</jquery-table>