<div style="display: flex; align-items: stretch; gap: 10px">
    <div class="card-container" [style.width]="config.selectedSlice ? '70%' : '100%'">
        <div class="title-container">
            <span class="title" style="width: 40%">{{ cardConfig?.title }}</span>
            <!-- Projected content slot for stats -->
            <ng-content></ng-content>
            <button mat-button [matMenuTriggerFor]="menu" matTooltip="Options de filtrage">
                <mat-icon>tune</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <a mat-menu-item [matMenuTriggerFor]="indicators">
                    <mat-icon class="material-symbols-outlined">insights</mat-icon>
                    <span>Indicateur</span>
                </a>
                <a mat-menu-item [matMenuTriggerFor]="group">
                    <mat-icon class="material-symbols-outlined">groups</mat-icon>
                    <span>Group</span>
                </a>
                <a mat-menu-item [matMenuTriggerFor]="slice">
                    <mat-icon class="material-symbols-outlined">pie_chart</mat-icon>
                    <span>Slice</span>
                </a>
                <a mat-menu-item [matMenuTriggerFor]="series">
                    <mat-icon class="material-symbols-outlined">show_chart</mat-icon>
                    <span>Series</span>
                </a>
            </mat-menu>

            <mat-menu #indicators="matMenu">
                <a mat-menu-item *ngFor="let c of configList.indicators" (click)="onSelectIndicator(c)">
                    <mat-icon class="material-symbols-outlined">{{ config.selectedIndicator === c.value ? 'check' : '' }}
                    </mat-icon>
                    <span>{{ c.label }}</span>
                </a>
            </mat-menu>
            <mat-menu #group="matMenu">
                <a mat-menu-item *ngFor="let c of configList.groups" (click)="onSelectGroup(c)">
                    <mat-icon class="material-symbols-outlined">{{ config.selectedGroup === c.value ? 'check' : '' }}</mat-icon>
                    <span>{{ c.label }}</span>
                </a>
            </mat-menu>
            <mat-menu #slice="matMenu">
                <a mat-menu-item *ngFor="let c of configList.slices" (click)="onSelectSlice(c)">
                    <mat-icon class="material-symbols-outlined">{{ config.selectedSlice === c.value ? 'check' : '' }}</mat-icon>
                    <span>{{ c.label }}</span>
                </a>
            </mat-menu>
            <mat-menu #series="matMenu">
                <a mat-menu-item *ngFor="let c of configList.series" (click)="onSelectSeries(c)">
                    <mat-icon class="material-symbols-outlined">{{ config.selectedSerie === c.value ? 'check' : '' }}</mat-icon>
                    <span>{{ c.label }}</span>
                </a>
            </mat-menu>
        </div>
        <chart type="column"
               [config]="chartProvider"
               [data]="_data"
               [isLoading]="isLoading"></chart>
    </div>
    <mat-divider *ngIf="config?.selectedSlice" style="margin: 5em" [vertical]="true"></mat-divider>
    <dynamic-table *ngIf="config?.selectedSlice" style="width: 30%;"
                   [columns]="[
                        { field: config.selectedSlice, header: config.selectedSlice },
                    ]"
                   [data]="sliceData"
                   [pageSize]="5"
                   [keepHighlightedRow]="true"
                   [cursorPointer]="true"
                   (rowSelected)="sliceRowClick($event)">
    </dynamic-table>
</div>

