<mat-form-field *ngIf="useFilter" appearance="outline" style="width: 100%; margin-bottom: 0.5em" class="md-3 no-subscript">
    <input [disabled]="isLoading" [(ngModel)]="filterValue" matInput #input (keyup)="applyFilter($event)" placeholder="Filtrer..."
           autocomplete="off">
    <mat-icon matSuffix>search</mat-icon>
</mat-form-field>

<div class="table-container">
  <div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" #sort="matSort"
           matSort matSortActive="instant" matSortDirection="desc">

      <ng-container matColumnDef="instant">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <div class="header-cell-content">
            <mat-icon class="material-symbols-outlined">schedule</mat-icon>
            Date
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          {{ (row.instant*1000 | date:'dd/MM/yyyy')}}
          <br>
          {{ (row.instant*1000 | date:'HH:mm:ss.SSS')}}
        </td>
      </ng-container>

      <ng-container matColumnDef="message">
        <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 70%;">
          <div class="header-cell-content">
            <mat-icon class="material-symbols-outlined">chat</mat-icon>
            Message
          </div>
        </th>
        <td mat-cell *matCellDef="let row" class="ellipsis" [matTooltip]="row.message">
          <span style="font-weight: bold;">{{ row.level | typeColumnFormat }}</span>
          <div>{{ row.message }}</div>
        </td>
      </ng-container>
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef style="width: 10%;"></th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button color="primary" [disabled]="!row.stackRows" (click)="onClickStack(row)"
                  matTooltip="Consulter la Stack">
            <mat-icon class="material-symbols-outlined">visibility</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" [attr.colspan]="displayedColumns.length">
          <div *ngIf="!isLoading" class="empty-state-inline">
            <mat-icon class="material-symbols-outlined">cloud_off</mat-icon>
            <span>Aucun résultat pour cette recherche</span>
          </div>
          <div *ngIf="isLoading" class="loading-state-inline">
            <mat-spinner diameter="40"></mat-spinner>
            <span>Chargement des requêtes...</span>
          </div>
        </td>
      </tr>
    </table>
  </div>
  <mat-paginator [pageSize]="3" [hidePageSize]="true" showFirstLastButtons></mat-paginator>
</div>