
<div style="margin-bottom: 1em;">
    <header-page titleIcon="monitoring" [iconOutlined]="true" [ui-title]="params.server | titleCase" [templateSubTitle]="subtitle">
        <ng-template #subtitle>
            <div style="display: flex; gap: 0.5em">
              <app-version-badge [backgroundColor]="'#22577a'"
                                 [configuration]="$lastServerInfo?.configuration"
                                 [collector]="$lastServerInfo?.collector"
                                 [version]="$lastServerInfo?.version" />
              <app-branch-hash-badge [branch]="$lastServerInfo?.branch" [hash]="$lastServerInfo?.hash"/>

            </div>
        </ng-template>
        <div class="header-right" style="justify-content: space-between">
            <div style="display: flex; gap: 0.5em">
                <div class="mat-elevation-z3" style="padding: 8px; width: 100px">
                    <div style="display: flex; flex-direction: column; align-items: center">
                        <div style="font-size: 18px; font-weight: bold">{{$countServerStart}}</div>
                        <div style="font-size: 12px; font-weight: 200">{{$countServerStart | i18nPlural: {'=0': 'Lancement', '=1': 'Lancement', 'other': 'Lancements'} }}</div>
                    </div>
                </div>
                <div class="mat-elevation-z3" style="padding: 8px;  width: 100px">
                    <div style="display: flex; flex-direction: column; align-items: center">
                        <div style="font-size: 18px; font-weight: bold">{{$countVersions}}</div>
                        <div style="font-size: 12px; font-weight: 200">{{ $countVersions | i18nPlural: {'=0': 'Version', '=1': 'Version', 'other': 'Versions'} }}</div>
                    </div>
                </div>
            </div>
            <div style="display: flex; align-items: center; gap: 0.5em">
                <mat-form-field style="width: 240px" class="no-subscript md-3" appearance="outline">
                    <mat-label>Période</mat-label>
                    <mat-date-range-input [formGroup]="dateRangePicker" [rangePicker]="picker">
                        <input matStartDate formControlName="start" placeholder="Start date" readonly>
                        <input matEndDate formControlName="end" placeholder="End date" (dateChange)="onChangeEnd($event)" readonly>
                    </mat-date-range-input>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>
                <button mat-button (click)="isOpen = !isOpen" [matBadge]="indexTab == 0 ? apiNameSelectedCopy.length + apiVersionSelectedCopy.length + apiUserSelectedCopy.length : batchNameSelectedCopy.length + batchVersionSelectedCopy.length + batchUserSelectedCopy.length" cdkOverlayOrigin #trigger="cdkOverlayOrigin">
                    <mat-icon>tune</mat-icon>
                    Filtre
                </button>
            </div>

            <ng-template
                    cdkConnectedOverlay
                    [cdkConnectedOverlayOrigin]="trigger"
                    [cdkConnectedOverlayOpen]="isOpen"
                    [cdkConnectedOverlayHasBackdrop]="true"
                    (overlayOutsideClick)="onOverlayOutsideClick()">
              <overlay-container-filter [templateContent]="indexTab == 0 ? firstTab : secondTab" (onReset)="onResetFilter()" (onClick)="onClickFilter()" />
              <ng-template #firstTab>
                  <autocomplete-chip label="Nom d'API" [values]="$apiNameFilter" [selected]="apiNameSelected" (selectedChange)="onApiNameSelectedChange($event)"></autocomplete-chip>
                  <autocomplete-chip label="Version" [values]="$apiVersionFilter" [selected]="apiVersionSelected" (selectedChange)="onApiVersionSelectedChange($event)"></autocomplete-chip>
                  <autocomplete-chip label="Utilisateur" [values]="$apiUserFilter" [selected]="apiUserSelected" (selectedChange)="onApiUserSelectedChange($event)"></autocomplete-chip>
              </ng-template>
              <ng-template #secondTab>
                  <autocomplete-chip label="Nom de BATCH" [values]="$batchNameFilter" [selected]="batchNameSelected" (selectedChange)="onBatchNameSelectedChange($event)"></autocomplete-chip>
                  <autocomplete-chip label="Version" [values]="$batchVersionFilter" [selected]="batchVersionSelected" (selectedChange)="onBatchVersionSelectedChange($event)"></autocomplete-chip>
                  <autocomplete-chip label="Utilisateur" [values]="$batchUserFilter" [selected]="batchUserSelected" (selectedChange)="onBatchUserSelectedChange($event)"></autocomplete-chip>
              </ng-template>
            </ng-template>
        </div>
    </header-page>
    <div style="display: flex; gap: 1em; margin-bottom: 2em; margin-top: 2em">
        <div class="mat-elevation-z3" style="padding: 16px; width: 30%">
            <div style="display: flex; flex-direction: column; align-items: center">
                <div style="font-size: 18px; font-weight: bold">{{$apiUserFilter.length}}</div>
                <div style="font-size: 12px; font-weight: 200">{{$apiUserFilter.length | i18nPlural: {'=0': 'Utilisateur', '=1': 'Utilisateur', 'other': 'Utilisateurs'} }}</div>
            </div>
        </div>
        <div class="mat-elevation-z3" style="padding: 16px; width: 30%">
            <div style="display: flex; flex-direction: column; align-items: center">
                <div style="font-size: 18px; font-weight: bold">{{$apiNameFilter.length}}</div>
                <div style="font-size: 12px; font-weight: 200">{{$apiNameFilter.length | i18nPlural: {'=0': 'API', '=1': 'API', 'other': 'APIs'} }}</div>
            </div>
        </div>
        <div class="mat-elevation-z3" style="padding: 16px; width: 30%">
            <div style="display: flex; flex-direction: column; align-items: center">
                <div style="font-size: 18px; font-weight: bold">{{$batchNameFilter.length}}</div>
                <div style="font-size: 12px; font-weight: 200">{{$batchNameFilter.length | i18nPlural: {'=0': 'BATCH', '=1': 'BATCH', 'other': 'BATCHs'} }}</div>
            </div>
        </div>
    </div>


    <mat-tab-group [preserveContent]="true" mat-stretch-tabs="false" mat-align-tabs="start" animationDuration="0" [selectedIndex]="indexTab" (selectedTabChange)="onSelectedTabChange($event)">
        <mat-tab>
            <ng-template mat-tab-label  >
                Appels REST
            </ng-template>
            <ng-template matTabContent>
                <rest-tab [httpParams]="$httpParams"/>
            </ng-template>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                Appels BATCH
            </ng-template>
            <ng-template matTabContent>
                <batch-tab [httpParams]="$httpParams"/>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>
