.exception-card {
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-bottom: 1em;
}

.header-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}




table {
    height: 100%;
    table-layout: fixed;
}
