<header-page [titleIcon]="MAPPING_TYPE['dashboard'].icon" [ui-title]="MAPPING_TYPE['dashboard'].title">
  
  <form [formGroup]="serverFilterForm" class="header-filter md-2">
    <mat-form-field class="no-subscript" appearance="outline">
      <mat-label>Période</mat-label>
      <mat-date-range-input [formGroup]="serverFilterForm.controls.dateRangePicker" [rangePicker]="picker">
        <input matStartDate formControlName="start" placeholder="Start date">
        <input matEndDate formControlName="end" placeholder="End date">
      </mat-date-range-input>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="no-subscript" [class.loading]="serverNameIsLoading" appearance="outline">
      <mat-label>Serveur</mat-label>
      <mat-select [formControl]="serverFilterForm.controls.appname" multiple>

        <span *ngIf="serverNameIsLoading && params.serveurs[0]!=''"><mat-option *ngFor="let s of params.serveurs"
            [value]="s">{{s}}</mat-option></span>
        <mat-option *ngFor="let d of nameDataList" [value]="d">{{d}}</mat-option>
      </mat-select>
      <mat-spinner *ngIf="serverNameIsLoading" [diameter]="18"></mat-spinner>
    </mat-form-field>

    <button mat-mini-fab color="primary" (click)="search()">
      <mat-icon matSuffix>search</mat-icon>
    </button>
  </form>
</header-page>

<div style="display: flex; justify-content: space-between; gap: 1em; margin: 2em 0 1em 0;">
  <div style="display: flex; flex-direction: column; justify-content: space-between; width: 25%;" class="mat-elevation-z5">
    <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 0 0 1em">
      <div style="display: flex; flex-direction: column">
        <div style="font-weight: 900">{{sparklineTitles.rest.title}}</div>
        <div style="font-style: italic; font-weight: 200; font-size: 12px">{{sparklineTitles.rest.subtitle}}</div>
      </div>
      <button mat-icon-button [disabled]="chartRequests['restRequestExceptionsTable'].isLoading || !chartRequests['restRequestExceptionsTable'].data?.length" (click)="openProtocolDialog({observable: chartRequests['restRequestExceptionsTable'], type: 'REST'})">
        <mat-icon class="material-symbols-outlined">frame_inspect</mat-icon>
      </button>
    </div>
    <chart type="area"
           [config]="constants.REST_REQUEST_EXCEPTION_BY_PERIOD_LINE" [data]="chartRequests?.restRequestExceptionsTable.chart ||[]"
           [isLoading]="chartRequests?.restRequestExceptionsTable?.isLoading" />
  </div>

  <div style="display: flex; flex-direction: column; justify-content: space-between; width: 25%;" class="mat-elevation-z5">
    <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 0 0 1em">
      <div style="display: flex; flex-direction: column">
        <div style="font-weight: 900">{{sparklineTitles.jdbc.title}}</div>
        <div style="font-style: italic; font-weight: 200; font-size: 12px">{{sparklineTitles.jdbc.subtitle}}</div>
      </div>
      <button mat-icon-button [disabled]="chartRequests['databaseRequestExceptionsTable'].isLoading || !chartRequests['databaseRequestExceptionsTable'].data?.length" (click)="openProtocolDialog({observable: chartRequests['databaseRequestExceptionsTable'], type: 'JDBC'})">
        <mat-icon class="material-symbols-outlined">frame_inspect</mat-icon>
      </button>
    </div>
    <chart type="area"
           [config]="constants.DATABASE_REQUEST_EXCEPTION_BY_PERIOD_LINE" [data]="chartRequests?.databaseRequestExceptionsTable.chart|| []"
           [isLoading]="chartRequests?.databaseRequestExceptionsTable?.isLoading" />
  </div>

  <div style="display: flex; flex-direction: column; justify-content: space-between; width: 25%;" class="mat-elevation-z5">
    <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 0 0 1em">
      <div style="display: flex; flex-direction: column">
        <div style="font-weight: 900">{{sparklineTitles.ftp.title}}</div>
        <div style="font-style: italic; font-weight: 200; font-size: 12px">{{sparklineTitles.ftp.subtitle}}</div>
      </div>
      <button mat-icon-button [disabled]="chartRequests['ftpRequestExceptionsTable'].isLoading || !chartRequests['ftpRequestExceptionsTable'].data?.length" (click)="openProtocolDialog({observable: chartRequests['ftpRequestExceptionsTable'], type: 'FTP'})">
        <mat-icon class="material-symbols-outlined">frame_inspect</mat-icon>
      </button>
    </div>
    <chart type="area"
           [config]="constants.FTP_REQUEST_EXCEPTION_BY_PERIOD_LINE" [data]="chartRequests?.ftpRequestExceptionsTable.chart||[]"
           [isLoading]="chartRequests?.ftpRequestExceptionsTable?.isLoading" />
  </div>

  <div style="display: flex; flex-direction: column; justify-content: space-between; width: 25%;" class="mat-elevation-z5">
    <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 0 0 1em">
      <div style="display: flex; flex-direction: column">
        <div style="font-weight: 900">{{sparklineTitles.smtp.title}}</div>
        <div style="font-style: italic; font-weight: 200; font-size: 12px">{{sparklineTitles.smtp.subtitle}}</div>
      </div>
      <button mat-icon-button [disabled]="chartRequests['smtpRequestExceptionsTable'].isLoading || !chartRequests['smtpRequestExceptionsTable'].data?.length" (click)="openProtocolDialog({observable: chartRequests['smtpRequestExceptionsTable'], type: 'SMTP'})">
        <mat-icon class="material-symbols-outlined">frame_inspect</mat-icon>
      </button>
    </div>
    <chart type="area"
           [config]="constants.SMTP_REQUEST_EXCEPTION_BY_PERIOD_LINE" [data]="chartRequests?.smtpRequestExceptionsTable.chart||[]"
           [isLoading]="chartRequests?.smtpRequestExceptionsTable?.isLoading" />
  </div>
  <div style="display: flex; flex-direction: column; justify-content: space-between; width: 25%;" class="mat-elevation-z5">
    <div style="display: flex; align-items: center; justify-content: space-between; margin: 0 0 0 1em">
      <div style="display: flex; flex-direction: column">
        <div style="font-weight: 900">{{sparklineTitles.ldap.title}}</div>
        <div style="font-style: italic; font-weight: 200; font-size: 12px">{{sparklineTitles.ldap.subtitle}}</div>
      </div>
      <button mat-icon-button [disabled]="chartRequests['ldapRequestExceptionsTable'].isLoading || !chartRequests['ldapRequestExceptionsTable'].data?.length" (click)="openProtocolDialog({observable: chartRequests['ldapRequestExceptionsTable'], type: 'LDAP'})">
        <mat-icon class="material-symbols-outlined">frame_inspect</mat-icon>
      </button>
    </div>
    <chart type="area"
           [config]="constants.LDAP_REQUEST_EXCEPTION_BY_PERIOD_LINE" [data]="chartRequests?.ldapRequestExceptionsTable.chart||[]"
           [isLoading]="chartRequests?.ldapRequestExceptionsTable?.isLoading" />
  </div>
</div>

<div class="card-container mat-elevation-z5" style="margin: 0 0 1em 0; height: 350px">
  <div class="title-container"><div class="title"><label-icon icon="error">Erreur</label-icon></div></div>
  <div style="display: flex; justify-content: space-between; height: 100%">
    <div style="display: flex; flex-direction: column; width: 100%;">
      <div class="title-container"><div class="sub-title">Serveur</div></div>
      <exceptions-table-new [data]="tabRequests.sessionExceptionsTable?.data" [isLoading]="tabRequests.sessionExceptionsTable?.isLoading"></exceptions-table-new>
    </div>
    <mat-divider style="margin: 5em" [vertical]="true"></mat-divider>
    <div style="display: flex; flex-direction: column; width: 100%">
      <div class="title-container"><div class="sub-title">Batch</div></div>
      <exceptions-table-new [data]="tabRequests.batchExceptionTable?.data" [isLoading]="tabRequests.batchExceptionTable?.isLoading"></exceptions-table-new>
    </div>
  </div>
</div>

<div class="card-container mat-elevation-z5" style="margin: 0 0 1em 0; height: 306px">
  <div class="title-container">

    <div class="title"><label-icon icon="deployed_code_history">Lancement de Serveur</label-icon></div>
  </div>
  <server-start-table [data]="tabRequests.serverStartTable?.data" [isLoading]="tabRequests.serverStartTable?.isLoading"></server-start-table>
</div>