<div style="display: flex;flex-direction: column;gap: 20px;">
  <div  class="mat-elevation-z5" style="display: flex; align-items: stretch; gap: 10px;">
    <dynamic-chart style="width: 100%; display: flex; flex-direction: column;"
                   [menuConfig]="REPARTITION_PERFORMANCE_CONFIG"
                   [data]="$performanceRepartition.data"
                   [sliceData]="$performanceRepartitionSlice.data"
                   [isLoading]="$performanceRepartition.loading"
                   (chartEmitter)="performanceRepartitionChange($event)">
    </dynamic-chart>
  </div>
</div>
