<header-page titleIcon="dashboard" [ui-title]="name">
    <form [formGroup]="serverFilterForm" class="header-filter md-2">
        <advanced-filter-recap [filters]="advancedParams" (filterRemoved)="handleRemovedFilter($event)" (focusField)="focusField($event)"></advanced-filter-recap> 
        <mat-form-field appearance="outline"  class="no-subscript">
            <mat-label>Période</mat-label>
            <mat-date-range-input [formGroup]="serverFilterForm.controls.dateRangePicker" [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Start date">
                <input matEndDate formControlName="end" placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-mini-fab color="primary" (click)="search()">
            <mat-icon matSuffix>search</mat-icon>
        </button>
        <advanced-filter-trigger [pageName]="'stats-app'" [filterConfig]="filterConstants.STATS_APP" [focusField]="focusFieldName" (handleDialogclose)="handledialogclose($event)" (handlePresetSelection)="handlePresetSelection($event)" (handlePresetSelectionReset)="handlePresetSelectionReset()" (handleFilterReset)="handleFilterReset()"></advanced-filter-trigger>
    </form>
</header-page>

<div style="display: flex; justify-content: space-between; gap: 1em; margin-bottom: 1em;">
    <chart class="mat-elevation-z5" style="width: 33%;" type="area"
        [config]="constants.REPARTITION_REQUEST_BY_PERIOD_LINE" [data]="requests.repartitionRequestByPeriodLine?.data || []"
        [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" />
    <chart class="mat-elevation-z5" style="width: 33%;" type="area"
        [config]="constants.REPARTITION_REQUEST_ERROR_BY_PERIOD_LINE"
        [data]="requests.repartitionRequestByPeriodLine?.data || []"
        [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" />
    <chart class="mat-elevation-z5" style="width: 33%;" type="area"
        [config]="constants.REPARTITION_REQUEST_SLOWEST_BY_PERIOD_LINE"
        [data]="requests.repartitionRequestByPeriodLine?.data || []"
        [isLoading]="requests.repartitionRequestByPeriodLine?.isLoading" />
</div>

<div class="mat-elevation-z5" style="display: flex; justify-content: space-between; margin-bottom: 1em;">
    <chart style="width: 30%;" type="pie" [config]="constants.REPARTITION_TYPE_RESPONSE_PIE"
        [data]="requests.repartitionTimeAndTypeResponse?.data || []"
        [isLoading]="requests.repartitionTimeAndTypeResponse?.isLoading" />
    <mat-divider style="margin-top: 5em; margin-bottom: 5em;" [vertical]="true"></mat-divider>
    <chart style="width: 70%;" type="column" [config]="constants.REPARTITION_TYPE_RESPONSE_BAR"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data || []"
        [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
</div>
<div class="mat-elevation-z5" style="display: flex; justify-content: space-between; margin-bottom: 1em;">
    <chart style="width: 70%;" type="column" [config]="constants.REPARTITION_SPEED_BAR"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data || []" [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
    <mat-divider style="margin-top: 5em; margin-bottom: 5em;" [vertical]="true"></mat-divider>
    <chart style="width: 30%;" type="pie" [config]="constants.REPARTITION_SPEED_PIE"
        [data]="requests.repartitionTimeAndTypeResponse?.data || []" [isLoading]="requests.repartitionTimeAndTypeResponse?.isLoading" />
</div>
<div class="mat-elevation-z5" style="display: flex; justify-content: space-between; margin-bottom: 1em;">
    <chart style="width: 30%;" type="pie" [config]="constants.REPARTITION_USER_POLAR"
        [data]="requests.repartitionUser?.data?.polar || []" [isLoading]="requests.repartitionUser?.isLoading" />
    <mat-divider style="margin-top: 5em; margin-bottom: 5em;" [vertical]="true"></mat-divider>
    <chart style="width: 70%;" type="column" [config]="constants.REPARTITION_USER_BAR"
        [data]="requests.repartitionUser?.data?.bar || []" [isLoading]="requests.repartitionUser?.isLoading" />
</div>
<div class="mat-elevation-z5" style="margin-bottom: 1em;">
    <chart type="bar" [config]="constants.REPARTITION_API_BAR"
        [data]="requests.repartitionApiBar?.data || []" [isLoading]="requests.repartitionApiBar?.isLoading" />
</div>
<div class="mat-elevation-z5" style="margin-bottom: 1em;">
    <chart type="line"
        [config]="constants.REPARTITION_MAX_BY_PERIOD_LINE"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data || []"
        [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
    <chart type="line" [config]="constants.REPARTITION_AVG_BY_PERIOD_LINE"
        [data]="requests.repartitionTimeAndTypeResponseByPeriod?.data || []"
        [isLoading]="requests.repartitionTimeAndTypeResponseByPeriod?.isLoading" />
</div>
<div style="display: flex; flex-direction: row; gap: 0.5em; margin-bottom: 1em;">
    <dependencies-table style="width: 50%" [data]="requests.dependenciesTable?.data || []"
        [isLoading]="requests.dependenciesTable?.isLoading" (onClickRow)="onClickRow($event.event, $event.row)"/>
    <dependents-table style="width: 50%" [data]="requests.dependentsTable?.data || []"
        [isLoading]="requests.dependentsTable?.isLoading" (onClickRow)="onClickRow($event.event, $event.row)"/>
</div>
<div style="margin-bottom: 1em;">
    <exception-table [data]="requests.exceptionsTable?.data || []" [isLoading]="requests.exceptionsTable?.isLoading"></exception-table>
</div>