<header-page [titleIcon]="MAPPING_TYPE['deploiment'].icon" [ui-title]="MAPPING_TYPE['deploiment'].title"
             [iconOutlined]="true">

</header-page>


<div style="width: 100%">
  <div class="mat-elevation-z5">
    <div class="table-container">
      <table mat-table [dataSource]="lastServerStart.data ||[]" #lastServerStartTableSort="matSort" matSort>

        <ng-container matColumnDef="appName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Serveur</th>
          <td mat-cell *matCellDef="let row">
            <div style="display: flex; align-items: center; gap: 1.5em;">
              {{ row.appName || 'N/A' }}
              <a  class="status-indicator" [routerLink]="['/supervision', row.id]" [queryParams]="{env: params.env, start: toDate(activityStatus[row.id].lastTrace - 1000 * 60 * 60 * 12).toISOString(), end: toDate(activityStatus[row.id].lastTrace + 1000 * 60 * 60 * 12).toISOString()}" [matTooltip]="activityStatus[row.id].tooltip" [ngClass]="activityStatus[row.id].css">

              </a>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="version">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Version</th>
          <td mat-cell *matCellDef="let row">
            <div *ngIf="row.version" class="label-chip" [style.background-color]="versionColor[row.version]"
                 [matTooltip]="row.collector">
              <span>{{ row.version }} </span>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="duree">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Depuis</th>
          <td mat-cell *matCellDef="let row">
            <a style="text-decoration: none; color: black;" [routerLink]="['/session/startup']" [queryParams]="{env: params.env, start: toDate(row.start - 1000 * 60 * 60 * 24).toISOString(), end: toDate(row.start + 1000 * 60 * 60 * 24).toISOString(), server: row.appName}" [matTooltip]="row.start | date:'dd/MM/yyyy, HH:mm:ss.SSS':'fr'">
              {{(today.getTime() - row.start) / 1000 | duration}}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="restart">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Redémarrage</th>
          <td mat-cell *matCellDef="let row">
            <span [ngStyle]="{'cursor': row.configuration ? 'pointer' : 'none', 'pointer-events': row.configuration ? 'initial' : 'none'}" (click)="openConfig(row.configuration)">{{row.restart}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="branch">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Branche</th>
          <td mat-cell *matCellDef="let row">
            <div>
              <span [matTooltip]="row.hash">{{ row.branch }}</span>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="serverStartDisplayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: serverStartDisplayedColumns;"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="7">
            <div *ngIf="!lastServerStart.isLoading" class="empty-row" style="align-items: center;">
            <span class="material-symbols-outlined">
              info
            </span>
              <span style="font-style: italic;">Aucun résultat</span>
            </div>
            <div *ngIf="lastServerStart.isLoading && !lastServerStart.data" class="loading-row">
            <span style="display: flex; flex-direction: column; font-style: italic;">
              Chargement en cours...
              <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </span>
            </div>
          </td>
        </tr>
      </table>
    </div>
    <mat-paginator #lastServerStartTablePaginator [pageSize]="10"
                   [hidePageSize]="true" [showFirstLastButtons]="true"></mat-paginator>
  </div>
</div>

