.header-card {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-bottom: 2em;
}

.status-badge {
  padding: 2px 12px;
  border-radius: 12px;
  font-size: 10px;
  font-weight: 600;
  height: 15px;
  display: flex;
  align-items: center;
  margin-top: 2px;
  &.success {
    background-color: #4caf50;
    color: white;
  }

  &.warning {
    background-color: #ff9800;
    color: white;
  }

  &.fail {
    background-color: #f44336;
    color: white;
  }

  &.unavailable {
    background-color: #9e9e9e;
    color: white;
  }
}

a {
    text-decoration: none;
    color: blue;
}