.header-card {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-bottom: 2em;
}

mat-card-title {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 48px;
  .right {
    margin-left: auto;
  }
}

mat-card-content {
  height: 100%; padding: 0 16px 16px;
}

mat-card-footer {
  padding: 0 16px;
  border: 1px solid rgba(0,0,0,.05);
  display: flex;
  align-items: center;
  gap: 0.5em;
  font-style: italic;
  font-size: 14px;
  .right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.badge {
  color: white;
  padding: 2px 10px;
  text-align: center;
  border-radius: 12px;
  font-size: 0.8em;
  &.success {
    background-color: #4caf50;
  }
  &.warning {
    background-color: orange;
  }
  &.fail {
    background-color: #f44336;
  }
  &.unavailable {
    background-color: gray;
  }
  &.in-progress {
    background-color: #0080ff;
  }
}

a {
    text-decoration: none;
    color: inherit;
}