.header-card {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

.icon-disabled {
  filter: grayscale(1) opacity(0.5);
  pointer-events: none;
}

.dbfailed {
  background-color: red !important;
}

.url {
  color: blue;
  text-decoration: solid;
}

.badge {
  color: white;
  padding: 2px 10px;
  text-align: center;
  border-radius: 12px;
  font-size: 0.8em;
  &.success {
    background-color: green;
  }
  &.warning {
    background-color: orange;
  }
  &.fail {
    background-color: red;
  }
  &.unavailable {
    background-color: gray;
  }
  &.in-progress {
    background-color: #2196F3;
  }
}


mat-card {
  &.success {
    border-left: 4px solid green;
  }
  &.warning {
    border-left: 4px solid orange;
  }
  &.fail {
    border-left: 4px solid red;
  }
  &.unavailable {
    border-left: 4px solid gray;
  }
  &.in-progress {
    border-left: 4px solid #2196F3;
  }
}