/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


body {
  margin: 0;
}
  
.blue-gradient {
  background: -webkit-linear-gradient(50deg, #45cafc, #303f9f);
  background: linear-gradient(40deg, #45cafc, #4285f4);
}

.white-space{
  white-space: pre-line;
}

.noDataMessage{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
 // background-color:  white;
  color:gray
}

.fullwidth{
  width: 100%;
}


.mat-mdc-raised-button.mat-primary {
  --mdc-protected-button-container-color: #1423DC;
  --mdc-protected-button-label-text-color: #fff;
}

.table-column-content {
  display: inline;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.ellipsis:hover {
  text-overflow: clip;
  white-space: normal;
  word-break: break-all;
}

mat-form-field.no-subscript {
  .mat-mdc-form-field-subscript-wrapper {
      display: none;
  }
}

.md-1 {
  @include mat.all-component-densities(-1);
}

.md-2 {
  @include mat.all-component-densities(-2);
}

.md-3 {
  @include mat.all-component-densities(-3);
}

.mdc-data-table__cell:has(#pie-chart) {
  overflow: visible !important;
}

.flow {
  stroke-dasharray: 8;
  animation: dash 0.5s linear;
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
     stroke-dashoffset: -16;
  }
}


.mxTooltip{
  background-color: #f9f9f9!important;
  border: 1px solid #d3d3d3!important;
  border-radius:  4px!important;
  padding: 8px!important;
  font-size: 14px!important;
  color: #333!important;
}

.mat-date-range-input-inner {
  letter-spacing: var(--mat-form-field-container-text-tracking);
}


.vis-item {
  border-color: #040730 !important;
  color:white !important;
  cursor: pointer !important;
}

.vis-item.rest{
  background-color: #4CAF50;
  
}

.vis-item.ftp{
  background-color: #2196F3;

}
.vis-item.smtp{
  background-color: #9C27B0;

}
.vis-item.ldap{
  background-color: #00BCD4;

}
.vis-item.database{
  background-color: #3F51B5;

}
.vis-item.local{
  background-color: #3b3b38;

}


.vis-item.client-error{
  border-top: 4px #f9ad4e solid !important;
}
.vis-item.error{
  border-top: 4px #bb2124 solid !important;
}

.dot {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
  color:white;
}

.spinner{
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.transparent {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: black;
  font-weight: bold;
  text-align: center;
  padding: 20px;
  background: rgb(165 157 157 / 50%);
}

.vis-custom-time { // makes markers not draggable 
  pointer-events: none;
}

.error{
  color:red;
}

.badge {
  color: white;
  padding: 0px 10px;
  text-align: center;
  border-radius: 12px;
  font-size: 0.8em;
  gap: 0.5em
}


/*.vis-item.vis-selected{
  background-color: orange;
  border-color: orangered;
}*/

.mat-mdc-table .mdc-data-table__header-row {
  height: 40px;
}

mat-form-field.loading {

  mat-select {
    pointer-events: none;
  }

  .mat-mdc-select-arrow {
    opacity: 0;
  }
  
  mat-spinner.mdc-circular-progress {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
  }
}

.empty-row {
  display: flex;
  gap: .5em;
  height: 52px;
  color: #707070;
  font-weight: 500;
  width: 100%;
  font-size: 12px;
  justify-content: center;
}

.loading-row {
  display: flex;
  gap: .5em;
  height: calc(100vh - 96px - 56px - 48px - 45px - 1.5em);
  color: #707070;
  font-weight: 500;
  width: 100%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
}

.mdc-data-table__cell:has(chart) {
  overflow: initial;
}

.error-badge {
  background-color: red;
  color: white;
  padding: 2px 6px;
  text-align: center;
  border-radius: 12px;
}

//to be put in architecture compo
.arrow_box{
  display: flex; 
  gap: 0.5em;
  margin: 5px;
  flex-direction: column;
}

.dashboard_component_title {
  margin-left: 10px;
  font-weight: 900;
  font-size: 14px;
  font-family: Helvetica, Arial, sans-serif;
}

.chart-test > div:first-child{
      height: 100%;
}

.mat-tooltip {
  white-space: pre-line; // Allow line break
}

