<header-page style="height: 56px;" titleIcon="lan" [ui-title]="'Arbre d\'appels API'">
  <div class="header-filter"></div>
</header-page>


<div id="container">
  <div id="fixed-width-container">
    <button class="zoom" (click)="graph.zoomIn();this.animateEdges();">+</button>
    <button class="zoom" (click)="graph.zoomOut();this.animateEdges();" style="left:30px">-</button>
    <button class="zoom" (click)="resizeAndCenter(this);animateEdges();" style="left:60px">reset</button>
    <button class="zoom" [hidden]="!oldCellParent" (click)="resetOriginalTree()"
      style="left:114px;width: initial;">back</button>
    <div #outlineContainer id="outlineContainer"
      style="z-index: 1; position: absolute; overflow: hidden; top: 0px; right: 0px; width: 160px; height: 120px;border-style: solid; border-color: lightgray; touch-action: none;">
    </div>
    <div #graphContainer id="graphContainer" style="background: url(assets/mxgraph/grid.gif);"></div>
  </div>
  <!-- <div id="detail-element">
    <h1>Détails </h1>
    <div *ngIf="selectedExchange">
      <div *ngIf="selectedExchange?.isEdge">

        <div *ngIf="!selectedExchange.isMultiplecall">
          <div *ngIf="selectedExchange?.target?.hasOwnProperty('completed')">
            <span><b>Actions: </b></span>
            <span class="md-chips">
              <div class="md-chip" *ngFor="let db of getActionsCount(selectedExchange?.target?.actions)|keyvalue"
                [style.background-color]="UtilInstance.dbactionIcon[db.value.name]"
                [ngClass]="{'dbfailed':db.value.failed}">
                {{db.value.name}} (x{{db.value.count}})
              </div>

            </span>
            <mat-divider></mat-divider>
            <div *ngIf="!selectedExchange?.target.completed">
              <span *ngFor="let q of selectedExchange?.target?.actions">
                <span
                      [innerHTML]="q?.exception.classname? '<b>Exception SQL: </b>'+ q?.exception.classname +'<br>':'' "></span>
                <span [innerHTML]="q?.exception.message? '<b>Message: </b>'+ q?.exception.message  :'' "></span>
              </span>
              <mat-divider></mat-divider>
            </div>
          </div>
          <div *ngIf="selectedExchange?.target?.remoteTrace?.exception || selectedExchange?.target?.remoteTrace?.message ">
            <span
              [innerHTML]="selectedExchange?.target?.remoteTrace?.exception?.classname? '<b>Exception: </b>'+ selectedExchange?.target?.remoteTrace?.exception?.classname +'<br>'  :'' "></span>
            <span
              [innerHTML]="selectedExchange?.target?.remoteTrace?.exception?.message? '<b>Message: </b>'+ selectedExchange?.target?.remoteTrace?.exception?.message  :'' "></span>
          </div>

          <mat-divider></mat-divider>
          <b>Appelant:</b> {{selectedExchange?.source.remoteTrace?.application?.name || 'N/A'}}
          <mat-divider></mat-divider>

          <b>Destinataire:</b> {{selectedExchange?.target?.remoteTrace?.application.name || 'N/A'}}
          <mat-divider></mat-divider>

          <b>URL :</b>
          <a class="url" [href]=" UtilInstance.getSessionUrl(selectedExchange?.target)" target="_blank">
            {{ selectedExchange?.target?.method?'['+selectedExchange?.target?.method+']':'' }}
            {{UtilInstance.getSessionUrl(selectedExchange?.target)}}
          </a>
          <mat-divider></mat-divider>

          <span
            [innerHTML]="selectedExchange?.target?.status ? '<b>Statut: </b>'+ selectedExchange?.target?.status   :'' "></span>
          <mat-divider></mat-divider>

          <span
            [innerHTML]="selectedExchange?.target?.start ? '<b>Début: </b>'+ ( selectedExchange?.target?.start*1000 | date:'dd/MM/yyyy':'fr') :'' "></span>
          <mat-divider></mat-divider>

          <span
            [innerHtml]="(selectedExchange?.target?.start && selectedExchange?.target?.end)?'<b> Durée: </b>'+(( selectedExchange?.target?.start*1000) | date:'HH:mm:ss.SSS':'fr') +' - '+ (( selectedExchange?.target?.end*1000) | date:'HH:mm:ss.SSS':'fr') +'('+ getElapsedTime( selectedExchange?.target?.end, selectedExchange?.target?.start)+'s)' :''"></span>
          <mat-divider></mat-divider>

          <span
            [innerHTML]="(selectedExchange?.target?.remoteTrace?.start&&selectedExchange?.target?.start)? '<b>Temps perdu dans le réseau: </b>'+ getElapsedTime(selectedExchange?.target.remoteTrace?.start,selectedExchange?.target?.start)+'s'  :'' "></span>
          <mat-divider></mat-divider>

          <span
            [innerHTML]="(selectedExchange?.target?.inDataSize&& selectedExchange?.target?.outDataSize)? '<b>Volume de données: </b>'+ selectedExchange?.target?.inDataSize + 'ko ↓ &nbsp;&nbsp; | &nbsp;&nbsp;' + selectedExchange?.target?.outDataSize + 'ko ↑' :'' "></span>
          <mat-divider></mat-divider>

          <span
            [innerHTML]="selectedExchange?.source.remoteTrace?.threadName ? '<b>Thread:  </b>'+ selectedExchange?.source.remoteTrace?.threadName   :'' "></span>
          <mat-divider></mat-divider>
        </div>


     
        <div *ngIf="selectedExchange.isMultiplecall">
          <span
            [innerHTML]="selectedExchange?.target?.length ? '<b>Nombre d\'appels: </b>'+ selectedExchange?.target?.length  :'' "></span>
          <mat-divider></mat-divider>
        </div>






      </div>


    </div>

  </div>-->
</div>